L1_abertura_projeto_tecnico_setup_original.json
{"name":"L1 - Abertura de Projeto Tecnico Setup","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * *"}]}},"id":"64204fb5-4410-4368-897e-001fae67580f","name":"Daily 09:00 BR","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[240,304]},{"parameters":{"jsCode":"const inputItems = $input.all();\nconst firstJson = inputItems[0]?.json || {};\nconst pages = Array.isArray(firstJson.results) ? firstJson.results : inputItems.map((item) => item.json);\nfunction readPlainText(prop) {\n  if (!prop) return '';\n  if (prop.title) return prop.title.map((t) => t.plain_text || t.text?.content || '').join('');\n  if (prop.rich_text) return prop.rich_text.map((t) => t.plain_text || t.text?.content || '').join('');\n  return '';\n}\nfunction firstTitle(properties) {\n  for (const value of Object.values(properties || {})) {\n    if (value?.type === 'title' || value?.title) return readPlainText(value);\n  }\n  return '';\n}\nreturn pages.map((page) => {\n  const properties = page.properties || {};\n  const clientName = firstTitle(properties) || page.id;\n  return { json: { clientPageId: page.id, clientName, clientProperties: properties, projectQueryPayload: { page_size: 1, filter: { and: [{ property: 'Cliente', relation: { contains: page.id } }, { property: 'Tipo de Projeto', select: { equals: 'Configura\\u00e7\\u00e3o/Setup' } }] } } } };\n});"},"id":"6c287d77-312e-4fa3-ab82-ad6f6aac6f9d","name":"Expand Active Clients","type":"n8n-nodes-base.code","typeVersion":2,"position":[992,304]},{"parameters":{"method":"POST","url":"https://api.notion.com/v1/databases/19fb65e5-c72b-81ae-847c-e0b6b2888b6b/query","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Notion-Version","value":"2022-06-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.projectQueryPayload }}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"afb1e4b6-c276-4b5c-b12a-aaaed321b252","name":"Query Existing Setup Project","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1504,304]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const existing = $json.results || [];\nif (existing.length > 0) return [];\nconst client = $('Expand Active Clients').item.json;\nconst props = client.clientProperties || {};\nfunction propValue(prop) {\n  if (!prop) return null;\n  if (prop.title) return prop.title.map((t) => t.plain_text || t.text?.content || '').join('');\n  if (prop.rich_text) return prop.rich_text.map((t) => t.plain_text || t.text?.content || '').join('');\n  if (prop.number !== undefined) return prop.number;\n  if (prop.select) return prop.select.name;\n  if (prop.status) return prop.status.name;\n  if (prop.email) return prop.email;\n  if (prop.phone_number) return prop.phone_number;\n  if (prop.url) return prop.url;\n  if (prop.formula) return prop.formula.string ?? prop.formula.number ?? prop.formula.boolean ?? prop.formula.date?.start ?? null;\n  if (prop.rollup) return prop.rollup.number ?? prop.rollup.array ?? prop.rollup.date?.start ?? null;\n  if (prop.relation) return prop.relation.length;\n  if (prop.multi_select) return prop.multi_select.length;\n  if (prop.date) return prop.date.start;\n  if (prop.checkbox !== undefined) return prop.checkbox;\n  return null;\n}\nfunction filled(value) {\n  if (value === null || value === undefined) return false;\n  if (typeof value === 'number') return value !== 0;\n  if (typeof value === 'string') return value.trim() !== '' && value.trim() !== '0';\n  if (Array.isArray(value)) return value.length > 0;\n  return Boolean(value);\n}\nfunction escHtml(value) { return String(value).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;'); }\nconst checks = [['Verificar ID Conta de An\\u00fancio', 'ID Conta de An\\u00fancio'], ['Verificar ID do Pixel (Meta)', 'ID do Pixel'], ['Verificar BM ID (Meta)', 'BM ID'], ['Verificar ID Propriedade Analytics', 'ID Prop Analytcs'], ['Verificar ID Perfil GBP', 'ID Perfil GBP'], ['Verificar Client ID - Google', 'Client ID - Google']].map(([itemName, fieldName]) => { const value = propValue(props[fieldName]); return { itemName, fieldName, filled: filled(value) }; });\nconst missing = checks.filter((check) => !check.filled).map((check) => check.fieldName);\nconst today = new Intl.DateTimeFormat('en-CA', { timeZone: 'America/Sao_Paulo', year: 'numeric', month: '2-digit', day: '2-digit' }).format(new Date());\nconst projectTitle = `[Setup] ${client.clientName} \\u2014 Configura\\u00e7\\u00e3o de Contas`;\nconst telegramText = missing.length === 0 ? '' : `<b>Setup pendente</b>\\nCliente: ${escHtml(client.clientName)}\\n\\n<b>Configura\\u00e7\\u00f5es faltando:</b>\\n` + missing.map((name) => `- ${escHtml(name)}`).join('\\n');\nreturn { json: { clientPageId: client.clientPageId, clientName: client.clientName, checks, missing, telegramText, projectPayload: { properties: { Projeto: { title: [{ text: { content: projectTitle } }] }, 'Tipo de Projeto': { select: { name: 'Configura\\u00e7\\u00e3o/Setup' } }, Status: { status: { name: 'N\\u00e3o Iniciado' } }, Cliente: { relation: [{ id: client.clientPageId }] }, 'Data de In\\u00edcio': { date: { start: today } } } } } };"},"id":"0f6d82ef-5bfe-4ae7-b665-e804d7bca0d6","name":"Prepare Setup Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,304]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const projectPageId = $json.id;\nconst setup = $('Prepare Setup Payload').item.json;\nreturn setup.checks.map((check) => ({ json: { checklistPayload: { parent: { database_id: '19fb65e5-c72b-8171-b535-000b978f7811' }, properties: { Nome: { title: [{ text: { content: check.itemName } }] }, Projeto: { relation: [{ id: projectPageId }] }, 'Criado por': { select: { name: 'n8n' } }, 'Conclu\\u00eddo?': { checkbox: check.filled } } } } }));"},"id":"dbf69d11-70dc-474f-bb99-6f2e1f718613","name":"Prepare Checklist Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[2336,128]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const setup = $('Prepare Setup Payload').item.json;\nif (!setup.missing || setup.missing.length === 0) return [];\nreturn { json: { projectPageId: $json.id, missing: setup.missing, telegramText: setup.telegramText } };"},"id":"0ce60c24-7e7d-4874-804e-9f4b2642aecc","name":"Prepare Telegram Alert","type":"n8n-nodes-base.code","typeVersion":2,"position":[2336,304]},{"parameters":{"resource":"message","operation":"sendMessage","chatId":"930549271","text":"={{ $json.telegramText }}","replyMarkup":"none","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"266300f1-e07f-40c7-ac49-5e51ece669f0","name":"Send Telegram Alert","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2624,304],"webhookId":"226d6521-53ef-4805-b383-7494296385ce","onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const alert = $('Prepare Telegram Alert').item.json;\nconst timestamp = new Date().toISOString();\nconst missing = alert.missing || [];\nreturn { json: { projectPageId: alert.projectPageId, logPayload: { children: [{ object: 'block', type: 'callout', callout: { icon: { type: 'emoji', emoji: '\\u2699\\ufe0f' }, rich_text: [{ type: 'text', text: { content: `Telegram: ok -- ${timestamp} -- faltando: [${missing.join(', ')}]` } }], color: 'yellow_background' } }] } } };"},"id":"9e4f8fa1-952a-40de-927c-bdfebe325013","name":"Prepare Telegram OK Log","type":"n8n-nodes-base.code","typeVersion":2,"position":[2896,304]},{"parameters":{"method":"PATCH","url":"=https://api.notion.com/v1/blocks/{{ $json.projectPageId }}/children","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Notion-Version","value":"2022-06-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.logPayload }}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"20e22a83-c759-4747-9081-2d950468b338","name":"Append Telegram OK Log","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[3184,304]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const alert = $('Prepare Telegram Alert').item.json;\nconst timestamp = new Date().toISOString();\nconst missing = alert.missing || [];\nconst errorMessage = $json.error?.message || $json.message || 'unknown error';\nreturn { json: { projectPageId: alert.projectPageId, logPayload: { children: [{ object: 'block', type: 'callout', callout: { icon: { type: 'emoji', emoji: '\\u26a0\\ufe0f' }, rich_text: [{ type: 'text', text: { content: `Telegram: falhou -- ${timestamp} -- faltando: [${missing.join(', ')}] -- ${errorMessage}` } }], color: 'red_background' } }] } } };"},"id":"047262b3-90c7-48e5-acf2-f56f6984b215","name":"Prepare Telegram Failed Log","type":"n8n-nodes-base.code","typeVersion":2,"position":[2896,480]},{"parameters":{"method":"PATCH","url":"=https://api.notion.com/v1/blocks/{{ $json.projectPageId }}/children","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Notion-Version","value":"2022-06-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.logPayload }}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"08046a47-3587-48a4-9379-97f694769f41","name":"Append Telegram Failed Log","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[3184,480]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const setup = $('Prepare Setup Payload').item.json;\nif (setup.missing && setup.missing.length > 0) return [];\nconst timestamp = new Date().toISOString();\nreturn { json: { projectPageId: $json.id, logPayload: { children: [{ object: 'block', type: 'callout', callout: { icon: { type: 'emoji', emoji: '\\u2705' }, rich_text: [{ type: 'text', text: { content: `Sem alerta (nada faltando) -- ${timestamp}` } }], color: 'green_background' } }] } } };"},"id":"0596c673-17fe-4809-a5a5-e35f71535387","name":"Prepare No Missing Log","type":"n8n-nodes-base.code","typeVersion":2,"position":[2336,528]},{"parameters":{"method":"PATCH","url":"=https://api.notion.com/v1/blocks/{{ $json.projectPageId }}/children","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Notion-Version","value":"2022-06-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.logPayload }}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"2ae9241f-eb91-4deb-af17-d31d86a53728","name":"Append No Missing Log","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2624,528]},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"19fb65e5-c72b-8147-8aa3-c63aa273d205","mode":"list","cachedResultName":"Clientes Database ","cachedResultUrl":"https://app.notion.com/p/19fb65e5c72b81478aa3c63aa273d205"},"simple":false,"filterType":"json","filterJson":"={\n  \"and\": [\n    {\n      \"property\": \"Status\",\n      \"select\": {\n        \"equals\": \"ATIVO\"\n      }\n    },\n    {\n      \"property\": \"Nome\",\n      \"title\": {\n        \"contains\": \"ZZ_SMOKE_L1\"\n      }\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[736,304],"id":"e56a1714-fa0a-4e62-b0e7-66a08e6483b1","name":"Query Active Clients"},{"id":"050be6de-be90-4df6-9392-85cc957fab21","name":"Create Setup Project","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2064,304],"parameters":{"resource":"databasePage","operation":"create","databaseId":{"__rl":true,"mode":"list","value":"19fb65e5-c72b-81ae-847c-e0b6b2888b6b","cachedResultName":"Projetos","cachedResultUrl":"https://app.notion.com/p/19fb65e5c72b81ae847ce0b6b2888b6b"},"simple":false,"propertiesUi":{"propertyValues":[{"key":"Projeto|title","title":"={{ $json.projectPayload.properties.Projeto.title[0].text.content }}"},{"key":"Tipo de Projeto|select","selectValue":"={{ $json.projectPayload.properties['Tipo de Projeto'].select.name }}"},{"key":"Status|status","statusValue":"={{ $json.projectPayload.properties.Status.status.name }}"},{"key":"Cliente|relation","relationValue":["={{ $json.projectPayload.properties.Cliente.relation[0].id }}"]},{"key":"Data de Início|date","includeTime":false,"date":"={{ $json.projectPayload.properties['Data de Início'].date.start }}"}]},"options":{}}},{"id":"499a9e06-8676-4e46-b7bc-57a086ae6d19","name":"Create Checklist Item","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2624,128],"parameters":{"resource":"databasePage","operation":"create","databaseId":{"__rl":true,"mode":"id","value":"19fb65e5-c72b-8171-b535-000b978f7811"},"simple":false,"propertiesUi":{"propertyValues":[{"key":"Nome|title","title":"={{ $json.checklistPayload.properties.Nome.title[0].text.content }}"},{"key":"Projeto|relation","relationValue":["={{ $json.checklistPayload.properties.Projeto.relation[0].id }}"]},{"key":"Criado por|select","selectValue":"={{ $json.checklistPayload.properties['Criado por'].select.name }}"},{"key":"Concluído?|checkbox","checkboxValue":"={{ $json.checklistPayload.properties['Concluído?'].checkbox }}"}]},"options":{}}}],"connections":{"Daily 09:00 BR":{"main":[[{"node":"Query Active Clients","type":"main","index":0}]]},"Query Existing Setup Project":{"main":[[{"node":"Prepare Setup Payload","type":"main","index":0}]]},"Prepare Telegram Alert":{"main":[[{"node":"Send Telegram Alert","type":"main","index":0}]]},"Send Telegram Alert":{"main":[[{"node":"Prepare Telegram OK Log","type":"main","index":0}],[{"node":"Prepare Telegram Failed Log","type":"main","index":0}]]},"Prepare Telegram OK Log":{"main":[[{"node":"Append Telegram OK Log","type":"main","index":0}]]},"Prepare Telegram Failed Log":{"main":[[{"node":"Append Telegram Failed Log","type":"main","index":0}]]},"Prepare No Missing Log":{"main":[[{"node":"Append No Missing Log","type":"main","index":0}]]},"Query Active Clients":{"main":[[{"node":"Expand Active Clients","type":"main","index":0}]]},"Expand Active Clients":{"main":[[{"node":"Query Existing Setup Project","type":"main","index":0}]]},"Prepare Setup Payload":{"main":[[{"node":"Create Setup Project","type":"main","index":0}]]},"Create Setup Project":{"main":[[{"node":"Prepare Checklist Items","type":"main","index":0},{"node":"Prepare Telegram Alert","type":"main","index":0},{"node":"Prepare No Missing Log","type":"main","index":0}]]},"Prepare Checklist Items":{"main":[[{"node":"Create Checklist Item","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp","templateCredsSetupCompleted":true}}