workflows/setup/L1_abertura_projeto_tecnico_setup.json
{"name":"L1 - Abertura de Projeto Tecnico Setup copy","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * *"}]}},"id":"e9496453-fefd-4430-ab59-be6a37d8bc11","name":"Daily 09:00 BR","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[240,320]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const existing = $json.results || [];\nif (existing.length > 0) return [];\nconst client = $('Query Active Clients').item.json.properties['Nome do Cliente'].rich_text[0].text.content;\nconst props = client.clientProperties || {};\nfunction propValue(prop) {\n  if (!prop) return null;\n  if (prop.title) return prop.title.map((t) => t.plain_text || t.text?.content || '').join('');\n  if (prop.rich_text) return prop.rich_text.map((t) => t.plain_text || t.text?.content || '').join('');\n  if (prop.number !== undefined) return prop.number;\n  if (prop.select) return prop.select.name;\n  if (prop.status) return prop.status.name;\n  if (prop.email) return prop.email;\n  if (prop.phone_number) return prop.phone_number;\n  if (prop.url) return prop.url;\n  if (prop.formula) return prop.formula.string ?? prop.formula.number ?? prop.formula.boolean ?? prop.formula.date?.start ?? null;\n  if (prop.rollup) return prop.rollup.number ?? prop.rollup.array ?? prop.rollup.date?.start ?? null;\n  if (prop.relation) return prop.relation.length;\n  if (prop.multi_select) return prop.multi_select.length;\n  if (prop.date) return prop.date.start;\n  if (prop.checkbox !== undefined) return prop.checkbox;\n  return null;\n}\nfunction filled(value) {\n  if (value === null || value === undefined) return false;\n  if (typeof value === 'number') return value !== 0;\n  if (typeof value === 'string') return value.trim() !== '' && value.trim() !== '0';\n  if (Array.isArray(value)) return value.length > 0;\n  return Boolean(value);\n}\nfunction escHtml(value) { return String(value).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;'); }\nconst checks = [['Verificar ID Conta de An\\u00fancio', 'ID Conta de An\\u00fancio'], ['Verificar ID do Pixel (Meta)', 'ID do Pixel'], ['Verificar BM ID (Meta)', 'BM ID'], ['Verificar ID Propriedade Analytics', 'ID Prop Analytcs'], ['Verificar ID Perfil GBP', 'ID Perfil GBP'], ['Verificar Client ID - Google', 'Client ID - Google']].map(([itemName, fieldName]) => { const value = propValue(props[fieldName]); return { itemName, fieldName, filled: filled(value) }; });\nconst missing = checks.filter((check) => !check.filled).map((check) => check.fieldName);\nconst today = new Intl.DateTimeFormat('en-CA', { timeZone: 'America/Sao_Paulo', year: 'numeric', month: '2-digit', day: '2-digit' }).format(new Date());\nconst projectTitle = `[Setup] ${client.clientName} \\u2014 Configura\\u00e7\\u00e3o de Contas`;\nconst telegramText = missing.length === 0 ? '' : `<b>Setup pendente</b>\\nCliente: ${escHtml(client.clientName)}\\n\\n<b>Configura\\u00e7\\u00f5es faltando:</b>\\n` + missing.map((name) => `- ${escHtml(name)}`).join('\\n');\nreturn { json: { clientPageId: client.clientPageId, clientName: client.clientName, checks, missing, telegramText, projectPayload: { parent: { database_id: '$json.id' }, properties: { Projeto: { title: [{ text: { content: projectTitle } }] }, 'Tipo de Projeto': { select: { name: 'Configura\\u00e7\\u00e3o/Setup' } }, Status: { status: { name: 'N\\u00e3o Iniciado' } }, Cliente: { relation: [{ id: client.clientPageId }] }, 'Data de In\\u00edcio': { date: { start: today } } } } } };"},"id":"dd148b2a-a6ff-44f1-805c-0f9b2dabb83b","name":"Prepare Setup Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,320]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const projectPageId = $json.id;\nconst setup = $('Prepare Setup Payload').item.json;\nreturn setup.checks.map((check) => ({ json: { checklistPayload: { parent: { database_id: '19fb65e5-c72b-8171-b535-000b978f7811' }, properties: { Nome: { title: [{ text: { content: check.itemName } }] }, Projeto: { relation: [{ id: projectPageId }] }, 'Criado por': { select: { name: 'n8n' } }, 'Conclu\\u00eddo?': { checkbox: check.filled } } } } }));"},"id":"3641116d-f082-4cd8-b1da-4e6cd156d5d1","name":"Prepare Checklist Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,128]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const setup = $('Prepare Setup Payload').item.json;\nif (!setup.missing || setup.missing.length === 0) return [];\nreturn { json: { projectPageId: $json.id, missing: setup.missing, telegramText: setup.telegramText } };"},"id":"d9d6b5fb-2e6c-411c-952b-33e7fe0d99bd","name":"Prepare Telegram Alert","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,320]},{"parameters":{"chatId":"930549271","text":"={{ $json.telegramText }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"42dc4429-2d9f-4dbb-a910-1fe3161e3e7c","name":"Send Telegram Alert","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1584,320],"webhookId":"870d3946-1be8-4787-a18a-3314d46183b1","onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const alert = $('Prepare Telegram Alert').item.json;\nconst timestamp = new Date().toISOString();\nconst missing = alert.missing || [];\nreturn { json: { projectPageId: alert.projectPageId, logPayload: { children: [{ object: 'block', type: 'callout', callout: { icon: { type: 'emoji', emoji: '\\u2699\\ufe0f' }, rich_text: [{ type: 'text', text: { content: `Telegram: ok -- ${timestamp} -- faltando: [${missing.join(', ')}]` } }], color: 'yellow_background' } }] } } };"},"id":"2d1ed889-77ed-4fa2-93e0-ca9709847b71","name":"Prepare Telegram OK Log","type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,224]},{"parameters":{"method":"PATCH","url":"=https://api.notion.com/v1/blocks/{{ $json.projectPageId }}/children","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Notion-Version","value":"2022-06-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.logPayload }}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"6c699b47-3b8b-46d1-bc9c-08d46fdfd5d0","name":"Append Telegram OK Log","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2032,224]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const alert = $('Prepare Telegram Alert').item.json;\nconst timestamp = new Date().toISOString();\nconst missing = alert.missing || [];\nconst errorMessage = $json.error?.message || $json.message || 'unknown error';\nreturn { json: { projectPageId: alert.projectPageId, logPayload: { children: [{ object: 'block', type: 'callout', callout: { icon: { type: 'emoji', emoji: '\\u26a0\\ufe0f' }, rich_text: [{ type: 'text', text: { content: `Telegram: falhou -- ${timestamp} -- faltando: [${missing.join(', ')}] -- ${errorMessage}` } }], color: 'red_background' } }] } } };"},"id":"18754e21-a04b-4fda-9643-c9da823e01c4","name":"Prepare Telegram Failed Log","type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,416]},{"parameters":{"method":"PATCH","url":"=https://api.notion.com/v1/blocks/{{ $json.projectPageId }}/children","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Notion-Version","value":"2022-06-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.logPayload }}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"be0acb65-d5cb-42a0-9a08-595ca13fa450","name":"Append Telegram Failed Log","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2032,416]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const setup = $('Prepare Setup Payload').item.json;\nif (setup.missing && setup.missing.length > 0) return [];\nconst timestamp = new Date().toISOString();\nreturn { json: { projectPageId: $json.id, logPayload: { children: [{ object: 'block', type: 'callout', callout: { icon: { type: 'emoji', emoji: '\\u2705' }, rich_text: [{ type: 'text', text: { content: `Sem alerta (nada faltando) -- ${timestamp}` } }], color: 'green_background' } }] } } };"},"id":"84b4bfa4-1cc9-41d4-abac-e204ad571204","name":"Prepare No Missing Log","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,512]},{"parameters":{"method":"PATCH","url":"=https://api.notion.com/v1/blocks/{{ $json.projectPageId }}/children","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Notion-Version","value":"2022-06-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.logPayload }}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"c6b1d264-c6a8-44ce-badf-26e9d393585b","name":"Append No Missing Log","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1584,512]},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"19fb65e5-c72b-81ae-847c-e0b6b2888b6b","mode":"list","cachedResultName":"Projetos","cachedResultUrl":"https://app.notion.com/p/19fb65e5c72b81ae847ce0b6b2888b6b"},"returnAll":true,"simple":false,"filterType":"manual","filters":{"conditions":[{"key":"Cliente|relation","condition":"contains","relationValue":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[688,320],"id":"21b84374-be1f-4ad3-b580-7cfdde100721","name":"Query Existing Setup Project"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"19fb65e5-c72b-8147-8aa3-c63aa273d205","mode":"list","cachedResultName":"Clientes Database ","cachedResultUrl":"https://app.notion.com/p/19fb65e5c72b81478aa3c63aa273d205"},"simple":false,"filterType":"manual","filters":{"conditions":[{"key":"Status|select","condition":"equals","selectValue":"ATIVO"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[464,320],"id":"955911ed-4ea7-4bec-9da8-b57d8402d2fb","name":"Query Active Clients"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"mode":"list","value":"19fb65e5-c72b-81ae-847c-e0b6b2888b6b","cachedResultName":"Projetos","cachedResultUrl":"https://app.notion.com/p/19fb65e5c72b81ae847ce0b6b2888b6b"},"simple":false,"propertiesUi":{"propertyValues":[{"key":"Projeto|title","title":"={{ $json.projectPayload.properties.Projeto.title[0].text.content }}"},{"key":"Tipo de Projeto|select","selectValue":"={{ $json.projectPayload.properties['Tipo de Projeto'].select.name }}"},{"key":"Status|status","statusValue":"={{ $json.projectPayload.properties.Status.status.name }}"},{"key":"Cliente|relation","relationValue":["={{ $json.projectPayload.properties.Cliente.relation[0].id }}"]},{"key":"Data de Início|date","includeTime":false,"date":"={{ $json.projectPayload.properties['Data de Início'].date.start }}"}]},"options":{}},"id":"70ce24f6-60fb-42d1-ab07-5b0eec77bb15","name":"Create Setup Project","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1136,320]},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"mode":"id","value":"19fb65e5-c72b-8171-b535-000b978f7811"},"simple":false,"propertiesUi":{"propertyValues":[{"key":"Nome|title","title":"={{ $json.checklistPayload.properties.Nome.title[0].text.content }}"},{"key":"Projeto|relation","relationValue":["={{ $json.checklistPayload.properties.Projeto.relation[0].id }}"]},{"key":"Criado por|select","selectValue":"={{ $json.checklistPayload.properties['Criado por'].select.name }}"},{"key":"Concluído?|checkbox","checkboxValue":"={{ $json.checklistPayload.properties['Concluído?'].checkbox }}"}]},"options":{}},"id":"df824bf1-e145-446d-a240-67f99e6e9d6d","name":"Create Checklist Item","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1584,128]}],"connections":{"Daily 09:00 BR":{"main":[[{"node":"Query Active Clients","type":"main","index":0}]]},"Prepare Telegram Alert":{"main":[[{"node":"Send Telegram Alert","type":"main","index":0}]]},"Send Telegram Alert":{"main":[[{"node":"Prepare Telegram OK Log","type":"main","index":0}],[{"node":"Prepare Telegram Failed Log","type":"main","index":0}]]},"Prepare Telegram OK Log":{"main":[[{"node":"Append Telegram OK Log","type":"main","index":0}]]},"Prepare Telegram Failed Log":{"main":[[{"node":"Append Telegram Failed Log","type":"main","index":0}]]},"Prepare No Missing Log":{"main":[[{"node":"Append No Missing Log","type":"main","index":0}]]},"Query Existing Setup Project":{"main":[[{"node":"Prepare Setup Payload","type":"main","index":0}]]},"Query Active Clients":{"main":[[{"node":"Query Existing Setup Project","type":"main","index":0}]]},"Prepare Setup Payload":{"main":[[{"node":"Create Setup Project","type":"main","index":0}]]},"Create Setup Project":{"main":[[{"node":"Prepare Checklist Items","type":"main","index":0},{"node":"Prepare Telegram Alert","type":"main","index":0},{"node":"Prepare No Missing Log","type":"main","index":0}]]},"Prepare Checklist Items":{"main":[[{"node":"Create Checklist Item","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp","templateCredsSetupCompleted":true}}