onboarding/execucao/lote1/qualitygate-pacing/sandbox_export.json
{
  "id": "<workflow_id_pending_review_qualitygate>",
  "name": "WF-EXEC-QualityGate-Pacing",
  "active": false,
  "isArchived": false,
  "tags": [
    {
      "name": "phi"
    },
    {
      "name": "execucao"
    },
    {
      "name": "lote1"
    }
  ],
  "nodes": [
    {
      "id": "exec-qg-schedule",
      "name": "[Exec QG] Schedule 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      }
    },
    {
      "id": "exec-qg-sop",
      "name": "[Exec QG] Buscar SOP Vigente",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": "bfeb1105-83a6-4e89-8d62-26607ebfcc8c"
        },
        "returnAll": true,
        "simple": false,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "area",
              "condition": "equals",
              "selectValue": "Execucao"
            },
            {
              "key": "estado",
              "condition": "equals",
              "selectValue": "Vigente"
            }
          ]
        }
      },
      "credentials": {
        "notionApi": {
          "id": "<credential_id_redacted>",
          "name": "Notion account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "id": "exec-qg-revisao",
      "name": "[Exec QG] Buscar Demandas Em Revisao",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": "cd1ab757-e4d1-493f-b1e1-b64a95d33d1b"
        },
        "returnAll": true,
        "simple": false,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "estado",
              "condition": "equals",
              "selectValue": "Em revisao"
            },
            {
              "key": "tipo",
              "condition": "equals",
              "selectValue": "Pacing/verba"
            }
          ]
        }
      },
      "credentials": {
        "notionApi": {
          "id": "<credential_id_redacted>",
          "name": "Notion account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "id": "exec-qg-event-revisao-body",
      "name": "[Exec QG] Montar Evento demanda.em_revisao",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const pickTitle = (page) => {\n  for (const prop of Object.values(page.properties || {})) {\n    if (prop?.type === 'title') return (prop.title || []).map((part) => part.plain_text || '').join('').trim();\n  }\n  return '';\n};\nconst pickText = (prop) => (prop?.rich_text || []).map((part) => part.plain_text || '').join('').trim();\nconst pickSelect = (prop) => prop?.select?.name || prop?.status?.name || '';\nconst richText = (text) => [{ type: 'text', text: { content: String(text ?? '').slice(0, 1900) } }];\nconst title = (text) => [{ type: 'text', text: { content: String(text ?? '').slice(0, 1900) } }];\nconst brDate = () => new Date().toLocaleDateString('sv-SE', { timeZone: 'America/Sao_Paulo' });\nconst brDue = () => brDate() + 'T23:59:00-03:00';\nconst utcNow = () => new Date().toISOString();\nconst execId = (prefix) => prefix + '-' + $execution.id;\nconst compactJson = (value) => JSON.stringify(value);\nconst sopFromItems = (items) => {\n  const pages = items.map((item) => item.json || {}).filter((page) => !page.archived && !page.is_archived);\n  const vigente = pages.find((page) => {\n    const props = page.properties || {};\n    return pickSelect(props.area) === 'Execucao' && pickSelect(props.estado) === 'Vigente';\n  });\n  if (!vigente) throw new Error('SOP Vigente de area Execucao nao encontrada');\n  return { id: vigente.id, titulo: pickTitle(vigente), versao: pickText((vigente.properties || {}).versao) || 'v1.0' };\n};\n\nconst sopData = sopFromItems($('[Exec QG] Buscar SOP Vigente').all());\nconst execution_id = execId('EXEC-EXEC-QG');\nconst tenant_id = 'phi-agencia';\nreturn $input.all().map((item) => {\n  const page = item.json || {};\n  const props = page.properties || {};\n  const payload = {\n    tenant_id,\n    client_id: pickText(props.client_id),\n    execution_id,\n    versao_sop_aplicada: sopData.id,\n    demanda_id: page.id,\n    tipo: pickSelect(props.tipo) || 'Pacing/verba',\n    classe_sla: pickSelect(props.classe_sla) || 'Critica',\n    estado: 'Em revisao',\n    tier_agente: 'flash',\n  };\n  return { json: { ...page, evento_tipo: 'demanda.em_revisao', entidade_id: page.id, entidade_area: 'Execucao', payload_json: compactJson(payload), timestamp: utcNow(), execution_id, tenant_id, tier_agente: 'flash', versao_sop_aplicada: sopData.id } };\n});"
      }
    },
    {
      "id": "exec-qg-event-revisao",
      "name": "[Exec QG] Criar Evento demanda.em_revisao",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        880,
        0
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": "c64f600e-4f46-4b2b-ac22-c1e425c8966e",
          "cachedResultName": "PHI - Eventos"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "tipo|title",
              "type": "title",
              "title": "={{ $json.evento_tipo }}"
            },
            {
              "key": "entidade_id|rich_text",
              "type": "rich_text",
              "textContent": "={{ $json.entidade_id }}"
            },
            {
              "key": "entidade_area|select",
              "type": "select",
              "selectValue": "Execucao"
            },
            {
              "key": "payload_json|rich_text",
              "type": "rich_text",
              "textContent": "={{ $json.payload_json }}"
            },
            {
              "key": "timestamp|date",
              "type": "date",
              "date": "={{ $json.timestamp }}"
            },
            {
              "key": "execution_id|rich_text",
              "type": "rich_text",
              "textContent": "={{ $json.execution_id }}"
            },
            {
              "key": "tenant_id|rich_text",
              "type": "rich_text",
              "textContent": "={{ $json.tenant_id }}"
            },
            {
              "key": "tier_agente|select",
              "type": "select",
              "selectValue": "={{ $json.tier_agente }}"
            },
            {
              "key": "versao_sop_aplicada|rich_text",
              "type": "rich_text",
              "textContent": "={{ $json.versao_sop_aplicada }}"
            }
          ]
        }
      },
      "credentials": {
        "notionApi": {
          "id": "<credential_id_redacted>",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "exec-qg-gemini",
      "name": "[Exec QG] Gemini Flash DoD Pacing",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        1100,
        160
      ],
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "={{ JSON.stringify($json) }}"
            }
          ]
        },
        "simplify": true,
        "options": {
          "includeMergedResponse": true,
          "systemMessage": "Voce e o Padronizador Flash. Valide mecanicamente DoD de Pacing/verba.",
          "temperature": 0.1,
          "maxOutputTokens": 512
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "<GEMINI_CREDENTIAL_ID_redacted>",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "exec-qg-validar",
      "name": "[Exec QG] Validar DoD Pacing Flash",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const pickTitle = (page) => {\n  for (const prop of Object.values(page.properties || {})) {\n    if (prop?.type === 'title') return (prop.title || []).map((part) => part.plain_text || '').join('').trim();\n  }\n  return '';\n};\nconst pickText = (prop) => (prop?.rich_text || []).map((part) => part.plain_text || '').join('').trim();\nconst pickSelect = (prop) => prop?.select?.name || prop?.status?.name || '';\nconst richText = (text) => [{ type: 'text', text: { content: String(text ?? '').slice(0, 1900) } }];\nconst title = (text) => [{ type: 'text', text: { content: String(text ?? '').slice(0, 1900) } }];\nconst brDate = () => new Date().toLocaleDateString('sv-SE', { timeZone: 'America/Sao_Paulo' });\nconst brDue = () => brDate() + 'T23:59:00-03:00';\nconst utcNow = () => new Date().toISOString();\nconst execId = (prefix) => prefix + '-' + $execution.id;\nconst compactJson = (value) => JSON.stringify(value);\nconst sopFromItems = (items) => {\n  const pages = items.map((item) => item.json || {}).filter((page) => !page.archived && !page.is_archived);\n  const vigente = pages.find((page) => {\n    const props = page.properties || {};\n    return pickSelect(props.area) === 'Execucao' && pickSelect(props.estado) === 'Vigente';\n  });\n  if (!vigente) throw new Error('SOP Vigente de area Execucao nao encontrada');\n  return { id: vigente.id, titulo: pickTitle(vigente), versao: pickText((vigente.properties || {}).versao) || 'v1.0' };\n};\n\nconst sopData = sopFromItems($('[Exec QG] Buscar SOP Vigente').all());\nconst execution_id = execId('EXEC-EXEC-QG');\nconst tenant_id = 'phi-agencia';\nconst checklist = [\n  'Diagnostico da anomalia',\n  'Acao tomada OU justificativa',\n  'Registro de impacto esperado',\n  'Audit (execution_id + fonte)',\n];\nconst out = [];\nfor (const item of $input.all()) {\n  const page = item.json || {};\n  const props = page.properties || {};\n  const obs = (pickText(props.observacoes) || pickText(props.Observacoes) || '').toLowerCase();\n  const hasDiagnostico = /diagnostico|anomalia/.test(obs);\n  const hasAcao = /acao tomada|ajuste|pausad|reduz|aument|justificativa|sem acao necessaria/.test(obs);\n  const hasImpacto = /impacto esperado|impacto/.test(obs);\n  const hasAudit = /execution_id|fonte/.test(obs);\n  const checks = [\n    { item: checklist[0], ok: hasDiagnostico },\n    { item: checklist[1], ok: hasAcao },\n    { item: checklist[2], ok: hasImpacto },\n    { item: checklist[3], ok: hasAudit },\n  ];\n  const missing = checks.filter((check) => !check.ok).map((check) => check.item);\n  const quality_gate = missing.length === 0 ? 'pass' : 'fail';\n  const demanda_id = page.id;\n  const client_id = pickText(props.client_id);\n  const tipo = pickSelect(props.tipo) || 'Pacing/verba';\n  const classe_sla = pickSelect(props.classe_sla) || 'Critica';\n  const basePayload = { tenant_id, client_id, execution_id, versao_sop_aplicada: sopData.id, demanda_id, tipo, classe_sla, quality_gate, checklist: checks, tier_agente: 'flash' };\n  if (quality_gate === 'pass') {\n    out.push({ json: { demanda_id, quality_gate, novo_estado: 'Entregue', versao_sop_aplicada: sopData.id, evento_tipo: 'demanda.entregue', entidade_id: demanda_id, entidade_area: 'Execucao', payload_json: compactJson(basePayload), timestamp: utcNow(), execution_id, tenant_id, tier_agente: 'flash', text: 'PASS demanda ' + demanda_id } });\n  } else {\n    out.push({ json: { demanda_id, quality_gate, novo_estado: 'Em execucao', versao_sop_aplicada: sopData.id, evento_tipo: 'demanda.reaberta', entidade_id: demanda_id, entidade_area: 'Execucao', payload_json: compactJson({ ...basePayload, missing }), timestamp: utcNow(), execution_id, tenant_id, tier_agente: 'flash', missing, text: '<b>Quality gate FAIL</b>\\nDemanda: ' + demanda_id + '\\nFaltam:\\n- ' + missing.join('\\n- ') } });\n  }\n}\nreturn out;"
      }
    },
    {
      "id": "exec-qg-restaurar",
      "name": "[Exec QG] Restaurar Payload DoD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return $('[Exec QG] Validar DoD Pacing Flash').all().map((item) => ({ json: item.json }));"
      }
    },
    {
      "id": "exec-qg-if-pass",
      "name": "[Exec QG] Resultado PASS?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1540,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.quality_gate }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "pass"
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "exec-qg-entregue",
      "name": "[Exec QG] Marcar Entregue",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1760,
        -140
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.demanda_id }}"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "estado|select",
              "type": "select",
              "selectValue": "={{ $json.novo_estado }}"
            },
            {
              "key": "quality_gate|select",
              "type": "select",
              "selectValue": "={{ $json.quality_gate }}"
            },
            {
              "key": "versao_sop_aplicada|rich_text",
              "type": "rich_text",
              "textContent": "={{ $json.versao_sop_aplicada }}"
            }
          ]
        }
      },
      "credentials": {
        "notionApi": {
          "id": "<credential_id_redacted>",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "exec-qg-event-entregue",
      "name": "[Exec QG] Criar Evento demanda.entregue",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1980,
        -140
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": "c64f600e-4f46-4b2b-ac22-c1e425c8966e",
          "cachedResultName": "PHI - Eventos"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "tipo|title",
              "type": "title",
              "title": "={{ $json.evento_tipo }}"
            },
            {
              "key": "entidade_id|rich_text",
              "type": "rich_text",
              "textContent": "={{ $json.entidade_id }}"
            },
            {
              "key": "entidade_area|select",
              "type": "select",
              "selectValue": "Execucao"
            },
            {
              "key": "payload_json|rich_text",
              "type": "rich_text",
              "textContent": "={{ $json.payload_json }}"
            },
            {
              "key": "timestamp|date",
              "type": "date",
              "date": "={{ $json.timestamp }}"
            },
            {
              "key": "execution_id|rich_text",
              "type": "rich_text",
              "textContent": "={{ $json.execution_id }}"
            },
            {
              "key": "tenant_id|rich_text",
              "type": "rich_text",
              "textContent": "={{ $json.tenant_id }}"
            },
            {
              "key": "tier_agente|select",
              "type": "select",
              "selectValue": "={{ $json.tier_agente }}"
            },
            {
              "key": "versao_sop_aplicada|rich_text",
              "type": "rich_text",
              "textContent": "={{ $json.versao_sop_aplicada }}"
            }
          ]
        }
      },
      "credentials": {
        "notionApi": {
          "id": "<credential_id_redacted>",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "exec-qg-reabrir",
      "name": "[Exec QG] Reabrir Demanda",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1760,
        160
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.demanda_id }}"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "estado|select",
              "type": "select",
              "selectValue": "={{ $json.novo_estado }}"
            },
            {
              "key": "quality_gate|select",
              "type": "select",
              "selectValue": "={{ $json.quality_gate }}"
            },
            {
              "key": "versao_sop_aplicada|rich_text",
              "type": "rich_text",
              "textContent": "={{ $json.versao_sop_aplicada }}"
            }
          ]
        }
      },
      "credentials": {
        "notionApi": {
          "id": "<credential_id_redacted>",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "exec-qg-event-reaberta",
      "name": "[Exec QG] Criar Evento demanda.reaberta",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1980,
        160
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": "c64f600e-4f46-4b2b-ac22-c1e425c8966e",
          "cachedResultName": "PHI - Eventos"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "tipo|title",
              "type": "title",
              "title": "={{ $json.evento_tipo }}"
            },
            {
              "key": "entidade_id|rich_text",
              "type": "rich_text",
              "textContent": "={{ $json.entidade_id }}"
            },
            {
              "key": "entidade_area|select",
              "type": "select",
              "selectValue": "Execucao"
            },
            {
              "key": "payload_json|rich_text",
              "type": "rich_text",
              "textContent": "={{ $json.payload_json }}"
            },
            {
              "key": "timestamp|date",
              "type": "date",
              "date": "={{ $json.timestamp }}"
            },
            {
              "key": "execution_id|rich_text",
              "type": "rich_text",
              "textContent": "={{ $json.execution_id }}"
            },
            {
              "key": "tenant_id|rich_text",
              "type": "rich_text",
              "textContent": "={{ $json.tenant_id }}"
            },
            {
              "key": "tier_agente|select",
              "type": "select",
              "selectValue": "={{ $json.tier_agente }}"
            },
            {
              "key": "versao_sop_aplicada|rich_text",
              "type": "rich_text",
              "textContent": "={{ $json.versao_sop_aplicada }}"
            }
          ]
        }
      },
      "credentials": {
        "notionApi": {
          "id": "<credential_id_redacted>",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "exec-qg-telegram-fail",
      "name": "[Exec QG] Telegram Checklist FAIL",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2200,
        160
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "<TELEGRAM_CHAT_ID_redacted>",
        "text": "={{ String($json.text || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;') }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "<TELEGRAM_CREDENTIAL_ID_redacted>",
          "name": "Telegram account"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "[Exec QG] Schedule 5 min": {
      "main": [
        [
          {
            "node": "[Exec QG] Buscar SOP Vigente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Exec QG] Buscar SOP Vigente": {
      "main": [
        [
          {
            "node": "[Exec QG] Buscar Demandas Em Revisao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Exec QG] Buscar Demandas Em Revisao": {
      "main": [
        [
          {
            "node": "[Exec QG] Montar Evento demanda.em_revisao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Exec QG] Montar Evento demanda.em_revisao": {
      "main": [
        [
          {
            "node": "[Exec QG] Criar Evento demanda.em_revisao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Exec QG] Criar Evento demanda.em_revisao": {
      "main": [
        [
          {
            "node": "[Exec QG] Validar DoD Pacing Flash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Exec QG] Validar DoD Pacing Flash": {
      "main": [
        [
          {
            "node": "[Exec QG] Gemini Flash DoD Pacing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Exec QG] Gemini Flash DoD Pacing": {
      "main": [
        [
          {
            "node": "[Exec QG] Restaurar Payload DoD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Exec QG] Restaurar Payload DoD": {
      "main": [
        [
          {
            "node": "[Exec QG] Resultado PASS?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Exec QG] Resultado PASS?": {
      "main": [
        [
          {
            "node": "[Exec QG] Marcar Entregue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[Exec QG] Reabrir Demanda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Exec QG] Marcar Entregue": {
      "main": [
        [
          {
            "node": "[Exec QG] Criar Evento demanda.entregue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Exec QG] Reabrir Demanda": {
      "main": [
        [
          {
            "node": "[Exec QG] Criar Evento demanda.reaberta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Exec QG] Criar Evento demanda.reaberta": {
      "main": [
        [
          {
            "node": "[Exec QG] Telegram Checklist FAIL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timezone": "America/Sao_Paulo"
  },
  "staticData": null,
  "meta": null,
  "pinData": {}
}
