onboarding/a2.7/sandbox_export.json
{
  "id": "VhaI01i4T6VBud1V",
  "name": "Onb - Digest Diario Onboarding",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "a27-schedule",
      "name": "[Onb A2.7] Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "id": "a27-clientes",
      "name": "[Onb A2.7] Buscar Clientes Ativos",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "alwaysOutputData": true,
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": "04e34a62624b484cbda546604564b88c"
        },
        "returnAll": true,
        "simple": false,
        "filterType": "none"
      },
      "credentials": {
        "notionApi": {
          "id": "<credential_id_redacted>",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "a27-etapas",
      "name": "[Onb A2.7] Buscar Etapas",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": "6eb4565b4f1d498c8b2978e0c80880fd"
        },
        "returnAll": true,
        "simple": false,
        "filterType": "none"
      },
      "credentials": {
        "notionApi": {
          "id": "<credential_id_redacted>",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "a27-agregar",
      "name": "[Onb A2.7] Filtrar e Agregar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const activeStatuses = new Set(['Em andamento', 'N\\u00e3o iniciado', 'Bloqueado']);\nconst clienteItems = $('[Onb A2.7] Buscar Clientes Ativos').all();\nconst etapaItems = $('[Onb A2.7] Buscar Etapas').all();\nconst now = new Date();\nconst brNow = new Date(now.toLocaleString('en-US', { timeZone: 'America/Sao_Paulo' }));\nconst todayBr = new Date(brNow);\ntodayBr.setHours(0, 0, 0, 0);\nconst geradoEm = brNow.toLocaleString('sv-SE', { timeZone: 'America/Sao_Paulo' }).replace(' ', 'T') + '-03:00';\nconst pickTitle = (page) => {\n  for (const prop of Object.values(page.properties || {})) {\n    if (prop?.type === 'title') return (prop.title || []).map((item) => item.plain_text || '').join('').trim();\n  }\n  return '';\n};\nconst pickSelect = (prop) => prop?.select?.name || prop?.status?.name || '';\nconst pickNumber = (prop) => prop?.number ?? null;\nconst pickDate = (prop) => prop?.date?.start ? String(prop.date.start).slice(0, 10) : '';\nconst pickPlainText = (prop) => (prop?.rich_text || []).map((item) => item.plain_text || '').join('').trim();\nconst dayDiff = (dateIso) => {\n  const due = new Date(dateIso + 'T00:00:00-03:00');\n  return Math.max(0, Math.floor((todayBr.getTime() - due.getTime()) / 86400000));\n};\nconst clientesById = new Map();\nconst clientesAtivos = [];\nconst bloqueios = [];\nfor (const item of clienteItems) {\n  const page = item.json || {};\n  if (page.archived) continue;\n  const props = page.properties || {};\n  const status = pickSelect(props.Status);\n  const nome = pickTitle(page);\n  if (!activeStatuses.has(status)) continue;\n  const cliente = {\n    nome,\n    status,\n    data_inicio: pickDate(props['Data in\\u00edcio']) || pickDate(props['Data inicio']) || pickDate(props['Data de in\\u00edcio']) || '',\n    etapas_concluidas: pickNumber(props['Etapas conclu\\u00eddas']) ?? pickNumber(props['Etapas concluidas']) ?? 0,\n    etapas_atrasadas_count: 0,\n    page_id: page.id,\n  };\n  clientesById.set(page.id, cliente);\n  clientesAtivos.push(cliente);\n  if (status === 'Bloqueado') {\n    bloqueios.push({ tipo: 'cliente', nome, motivo_se_houver: pickPlainText(props['Motivo']) || pickPlainText(props['Observa\\u00e7\\u00f5es']) || '', page_id: page.id });\n  }\n}\nconst etapasAtrasadas = [];\nfor (const item of etapaItems) {\n  const page = item.json || {};\n  if (page.archived) continue;\n  const props = page.properties || {};\n  const status = pickSelect(props.Status);\n  const nome = pickTitle(page);\n  const clienteRelation = props.Cliente?.relation || [];\n  const clienteId = clienteRelation[0]?.id || '';\n  const cliente = clientesById.get(clienteId);\n  if (status === 'Bloqueado') {\n    bloqueios.push({ tipo: 'etapa', nome, motivo_se_houver: pickPlainText(props['Motivo']) || pickPlainText(props['Observa\\u00e7\\u00f5es']) || '', page_id: page.id });\n  }\n  const due = pickDate(props['Data prevista']);\n  if (status === 'Pendente' && due && cliente && new Date(due + 'T00:00:00-03:00') < todayBr) {\n    cliente.etapas_atrasadas_count += 1;\n    etapasAtrasadas.push({ categoria: 'etapa_atrasada', cliente_nome: cliente.nome, etapa_nome: nome, sequencia: pickNumber(props['Sequ\\u00eancia']), data_prevista: due, dias_atrasada: dayDiff(due), page_id: page.id });\n  }\n}\nreturn [{ json: { payload: { gerado_em: geradoEm, contagens: { clientes_ativos: clientesAtivos.length, etapas_atrasadas: etapasAtrasadas.length, bloqueios: bloqueios.length }, clientes_ativos: clientesAtivos, etapas_atrasadas: etapasAtrasadas, bloqueios } } }];"
      }
    },
    {
      "id": "a27-gemini",
      "name": "[Onb A2.7] Gerar Digest Gemini",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        896,
        0
      ],
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "={{ JSON.stringify($json.payload) }}"
            }
          ]
        },
        "simplify": true,
        "options": {
          "includeMergedResponse": true,
          "systemMessage": "Voce e o assistente operacional da agencia. Gere digest diario CURTO e OBJETIVO em portugues brasileiro, formato Telegram. Use bullets simples (-). Nao use markdown pesado, asteriscos, negrito, titulos com **, nem links inline. Emojis sobrios e poucos (alerta e ok). Estrutura fixa: 1) Resumo numerico, 2) Clientes com etapas atrasadas (so se houver), 3) Bloqueios ativos (so se houver), 4) Acao recomendada do dia (uma frase). Se nao houver onboarding ativo, diga apenas isso. NUNCA invente dados que nao estao no payload.",
          "temperature": 0.2,
          "maxOutputTokens": 1024
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "cZNPIzF5ZCMrpnDr",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "a27-normalizar-gemini",
      "name": "[Onb A2.7] Normalizar Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const out = [];\nconst pickText = (data) => {\n  if (typeof data.text === 'string' && data.text.trim()) return data.text;\n  if (typeof data.mergedResponse === 'string' && data.mergedResponse.trim()) return data.mergedResponse;\n  if (Array.isArray(data.content?.parts)) return data.content.parts.map((part) => part.text || '').join('');\n  if (typeof data.content === 'string') return data.content;\n  return '';\n};\nfor (const item of $input.all()) {\n  const data = item.json || {};\n  const text = pickText(data).replace(/\\*\\*/g, '').trim();\n  out.push({ json: { ...data, text } });\n}\nreturn out;"
      }
    },
    {
      "id": "a27-if",
      "name": "[Onb A2.7] Tem Resposta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ String($json.text || \"\").trim() }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "rightValue": ""
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a27-fallback",
      "name": "[Onb A2.7] Montar Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        160
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const payload = $('[Onb A2.7] Filtrar e Agregar').first().json.payload || {};\nconst contagens = payload.contagens || {};\nconst atrasadas = payload.etapas_atrasadas || [];\nconst bloqueios = payload.bloqueios || [];\nconst linhas = ['[Digest A2.7 - Gemini indisponivel]', 'Clientes ativos: ' + (contagens.clientes_ativos ?? 0), 'Etapas atrasadas: ' + (contagens.etapas_atrasadas ?? 0), 'Bloqueios: ' + (contagens.bloqueios ?? 0)];\nconst detalhes = [];\nfor (const etapa of atrasadas.slice(0, 8)) detalhes.push('etapa_atrasada: ' + (etapa.cliente_nome || '-') + ' - ' + (etapa.etapa_nome || '-') + ' - ' + (etapa.dias_atrasada || 0) + 'd');\nfor (const bloqueio of bloqueios.slice(0, 8)) detalhes.push('bloqueio_' + (bloqueio.tipo || 'item') + ': ' + (bloqueio.nome || '-') + ' ' + (bloqueio.motivo_se_houver ? '- ' + bloqueio.motivo_se_houver : ''));\nlinhas.push('Detalhe: ' + (detalhes.length ? detalhes.join('\\n') : 'sem detalhes criticos'));\nreturn [{ json: { text: linhas.join('\\n'), payload } }];"
      }
    },
    {
      "id": "a27-telegram",
      "name": "[Onb A2.7] Enviar Telegram Olavo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1568,
        0
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "<TELEGRAM_CHAT_ID_redacted>",
        "text": "={{ String($json.text || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;') }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "<TELEGRAM_CREDENTIAL_ID_redacted>",
          "name": "Telegram account"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "[Onb A2.7] Schedule Trigger": {
      "main": [
        [
          {
            "node": "[Onb A2.7] Buscar Clientes Ativos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Onb A2.7] Buscar Clientes Ativos": {
      "main": [
        [
          {
            "node": "[Onb A2.7] Buscar Etapas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Onb A2.7] Buscar Etapas": {
      "main": [
        [
          {
            "node": "[Onb A2.7] Filtrar e Agregar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Onb A2.7] Filtrar e Agregar": {
      "main": [
        [
          {
            "node": "[Onb A2.7] Gerar Digest Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Onb A2.7] Gerar Digest Gemini": {
      "main": [
        [
          {
            "node": "[Onb A2.7] Normalizar Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Onb A2.7] Normalizar Digest": {
      "main": [
        [
          {
            "node": "[Onb A2.7] Tem Resposta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Onb A2.7] Tem Resposta?": {
      "main": [
        [
          {
            "node": "[Onb A2.7] Enviar Telegram Olavo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[Onb A2.7] Montar Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Onb A2.7] Montar Fallback": {
      "main": [
        [
          {
            "node": "[Onb A2.7] Enviar Telegram Olavo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timezone": "America/Sao_Paulo"
  },
  "staticData": {
    "node:[Onb A2.7] Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {}
}
