onboarding/a2.1/runs/exec_6739.json
{
  "id": "6739",
  "finished": true,
  "mode": "webhook",
  "retryOf": null,
  "retrySuccessId": null,
  "status": "success",
  "createdAt": "2026-05-26T23:22:58.283Z",
  "startedAt": "2026-05-26T23:22:58.333Z",
  "stoppedAt": "2026-05-26T23:22:59.920Z",
  "deletedAt": null,
  "workflowId": "0MfPA3Uqmj4TySiX",
  "waitTill": null,
  "storedAt": "db",
  "tracingContext": null,
  "deduplicationKey": null,
  "data": {
    "version": 1,
    "startData": {},
    "resultData": {
      "runData": {
        "[Onb A2.1] Webhook Briefing": [
          {
            "startTime": 1779837778350,
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": 1,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "headers": {
                        "host": "n8n-n8n-editor.1unqx7.easypanel.host",
                        "user-agent": "Mozilla/5.0 (Windows NT; Windows NT 10.0; pt-BR) WindowsPowerShell/5.1.19041.6456",
                        "content-length": "387",
                        "content-type": "application/json; charset=utf-8",
                        "x-forwarded-for": "187.181.208.107",
                        "x-forwarded-host": "n8n-n8n-editor.1unqx7.easypanel.host",
                        "x-forwarded-port": "443",
                        "x-forwarded-proto": "https",
                        "x-forwarded-server": "4e2b752f41a5",
                        "x-real-ip": "187.181.208.107",
                        "accept-encoding": "gzip"
                      },
                      "params": {},
                      "query": {},
                      "body": {
                        "cnpj_cliente": "98.765.432/0001-13",
                        "cliente_nome": "Cliente Sandbox A2.1 Retest E",
                        "data_inicio": "2026-05-26",
                        "modelo_negocio": "Lead Gen",
                        "servico": [
                          "Trafego pago",
                          "Agente IA"
                        ],
                        "origem_comercial": "Olavo",
                        "responsavel_geral_email": "olavofranzin@franzcomunicacao.com"
                      },
                      "webhookUrl": "<webhook_url_redacted>",
                      "executionMode": "production"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "[Onb A2.1] Validar Payload": [
          {
            "startTime": 1779837778352,
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "[Onb A2.1] Webhook Briefing",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 22,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "is_valid": true,
                      "payload": {
                        "cnpj_cliente": "98.765.432/0001-13",
                        "cliente_nome": "Cliente Sandbox A2.1 Retest E",
                        "data_inicio": "2026-05-26",
                        "modelo_negocio": "Lead Gen",
                        "servico": [
                          "Trafego pago",
                          "Agente IA"
                        ],
                        "origem_comercial": "Olavo",
                        "responsavel_geral_email": "olavofranzin@franzcomunicacao.com"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "[Onb A2.1] Payload Valido?": [
          {
            "startTime": 1779837778374,
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "[Onb A2.1] Validar Payload",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 3,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "is_valid": true,
                      "payload": {
                        "cnpj_cliente": "98.765.432/0001-13",
                        "cliente_nome": "Cliente Sandbox A2.1 Retest E",
                        "data_inicio": "2026-05-26",
                        "modelo_negocio": "Lead Gen",
                        "servico": [
                          "Trafego pago",
                          "Agente IA"
                        ],
                        "origem_comercial": "Olavo",
                        "responsavel_geral_email": "olavofranzin@franzcomunicacao.com"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ],
                []
              ]
            }
          }
        ],
        "[Onb A2.1] Normalizar Contexto": [
          {
            "startTime": 1779837778377,
            "executionIndex": 3,
            "source": [
              {
                "previousNode": "[Onb A2.1] Payload Valido?",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 21,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "cliente_nome": "Cliente Sandbox A2.1 Retest E",
                      "cliente_nome_normalizado": "cliente sandbox a2.1 retest e",
                      "cnpj_original": "98.765.432/0001-13",
                      "cnpj_normalizado": "98765432000113",
                      "data_inicio": "2026-05-26",
                      "modelo_negocio": "Lead Gen",
                      "servico": [
                        "Tráfego pago",
                        "Agente IA"
                      ],
                      "origem_comercial": "Olavo",
                      "responsavel_geral_email": "olavofranzin@franzcomunicacao.com",
                      "observacoes": "CNPJ normalizado: 98765432000113",
                      "raw_payload": {
                        "cnpj_cliente": "98.765.432/0001-13",
                        "cliente_nome": "Cliente Sandbox A2.1 Retest E",
                        "data_inicio": "2026-05-26",
                        "modelo_negocio": "Lead Gen",
                        "servico": [
                          "Trafego pago",
                          "Agente IA"
                        ],
                        "origem_comercial": "Olavo",
                        "responsavel_geral_email": "olavofranzin@franzcomunicacao.com"
                      },
                      "active_statuses": [
                        "Em andamento",
                        "Não iniciado",
                        "Bloqueado"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "[Onb A2.1] Buscar Clientes Ativos": [
          {
            "startTime": 1779837778398,
            "executionIndex": 4,
            "source": [
              {
                "previousNode": "[Onb A2.1] Normalizar Contexto",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 1136,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "object": "page",
                      "id": "36cb65e5-c72b-8105-9cd2-f37366abfdff",
                      "created_time": "2026-05-26T23:22:00.000Z",
                      "last_edited_time": "2026-05-26T23:22:00.000Z",
                      "created_by": {
                        "object": "user",
                        "id": "4304a705-1614-4a56-abca-d433064f8365"
                      },
                      "last_edited_by": {
                        "object": "user",
                        "id": "4304a705-1614-4a56-abca-d433064f8365"
                      },
                      "cover": null,
                      "icon": null,
                      "parent": {
                        "type": "database_id",
                        "database_id": "04e34a62-624b-484c-bda5-46604564b88c"
                      },
                      "in_trash": false,
                      "is_archived": false,
                      "is_locked": false,
                      "properties": {
                        "Etapas concluídas": {
                          "id": "%3Bze%40",
                          "type": "rollup",
                          "rollup": {
                            "type": "number",
                            "number": 0,
                            "function": "sum"
                          }
                        },
                        "Data prevista 1ª entrega": {
                          "id": "%3CAem",
                          "type": "formula",
                          "formula": {
                            "type": "date",
                            "date": {
                              "start": "2026-06-16T00:00:00.000-03:00",
                              "end": null,
                              "time_zone": null
                            }
                          }
                        },
                        "Total de etapas": {
                          "id": "E%5E%3F%7D",
                          "type": "rollup",
                          "rollup": {
                            "type": "number",
                            "number": 0,
                            "function": "count"
                          }
                        },
                        "Bloqueios ativos": {
                          "id": "LMf%5D",
                          "type": "rich_text",
                          "rich_text": []
                        },
                        "Observações": {
                          "id": "LQkL",
                          "type": "rich_text",
                          "rich_text": [
                            {
                              "type": "text",
                              "text": {
                                "content": "CNPJ normalizado: 98765432000113",
                                "link": null
                              },
                              "annotations": {
                                "bold": false,
                                "italic": false,
                                "strikethrough": false,
                                "underline": false,
                                "code": false,
                                "color": "default"
                              },
                              "plain_text": "CNPJ normalizado: 98765432000113",
                              "href": null
                            }
                          ]
                        },
                        "Data de início": {
                          "id": "On~F",
                          "type": "date",
                          "date": {
                            "start": "2026-05-26T00:00:00.000-03:00",
                            "end": null,
                            "time_zone": null
                          }
                        },
                        "Etapas de Onboarding": {
                          "id": "RjEd",
                          "type": "relation",
                          "relation": [],
                          "has_more": false
                        },
                        "Origem (vendedor / comercial)": {
                          "id": "VUrB",
                          "type": "rich_text",
                          "rich_text": [
                            {
                              "type": "text",
                              "text": {
                                "content": "Olavo",
                                "link": null
                              },
                              "annotations": {
                                "bold": false,
                                "italic": false,
                                "strikethrough": false,
                                "underline": false,
                                "code": false,
                                "color": "default"
                              },
                              "plain_text": "Olavo",
                              "href": null
                            }
                          ]
                        },
                        "Tempo real até 1ª entrega": {
                          "id": "XK%7BE",
                          "type": "formula",
                          "formula": {
                            "type": "string",
                            "string": null
                          }
                        },
                        "Serviço": {
                          "id": "XtHm",
                          "type": "multi_select",
                          "multi_select": []
                        },
                        "Data real 1ª entrega": {
                          "id": "X~Oh",
                          "type": "date",
                          "date": null
                        },
                        "Progresso": {
                          "id": "Z%60%5B%5D",
                          "type": "formula",
                          "formula": {
                            "type": "string",
                            "string": null
                          }
                        },
                        "Decisões relacionadas": {
                          "id": "%5CHxS",
                          "type": "relation",
                          "relation": [],
                          "has_more": false
                        },
                        "SLA até 1ª entrega (dias)": {
                          "id": "fRby",
                          "type": "number",
                          "number": 21
                        },
                        "Responsável geral": {
                          "id": "m%3BNu",
                          "type": "people",
                          "people": []
                        },
                        "Status": {
                          "id": "wH%3Cl",
                          "type": "select",
                          "select": {
                            "id": "33577501-db85-4a6d-86a1-ff1592983391",
                            "name": "Em andamento",
                            "color": "blue"
                          }
                        },
                        "Modelo de negócio (business_model)": {
                          "id": "%7Dz%40U",
                          "type": "select",
                          "select": {
                            "id": "bd886eb2-9427-4613-a0b5-b6d1b9332fdf",
                            "name": "Lead Gen",
                            "color": "yellow"
                          }
                        },
                        "Etapa atual": {
                          "id": "~%3Fe%3F",
                          "type": "rich_text",
                          "rich_text": []
                        },
                        "Cliente": {
                          "id": "title",
                          "type": "title",
                          "title": [
                            {
                              "type": "text",
                              "text": {
                                "content": "Cliente Sandbox A2.1 Retest E",
                                "link": null
                              },
                              "annotations": {
                                "bold": false,
                                "italic": false,
                                "strikethrough": false,
                                "underline": false,
                                "code": false,
                                "color": "default"
                              },
                              "plain_text": "Cliente Sandbox A2.1 Retest E",
                              "href": null
                            }
                          ]
                        }
                      },
                      "url": "https://www.notion.so/Cliente-Sandbox-A2-1-Retest-E-36cb65e5c72b81059cd2f37366abfdff",
                      "public_url": null,
                      "archived": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "object": "page",
                      "id": "36cb65e5-c72b-814c-808d-dd142f112a1e",
                      "created_time": "2026-05-26T21:00:00.000Z",
                      "last_edited_time": "2026-05-26T21:00:00.000Z",
                      "created_by": {
                        "object": "user",
                        "id": "4304a705-1614-4a56-abca-d433064f8365"
                      },
                      "last_edited_by": {
                        "object": "user",
                        "id": "4304a705-1614-4a56-abca-d433064f8365"
                      },
                      "cover": null,
                      "icon": null,
                      "parent": {
                        "type": "database_id",
                        "database_id": "04e34a62-624b-484c-bda5-46604564b88c"
                      },
                      "in_trash": false,
                      "is_archived": false,
                      "is_locked": false,
                      "properties": {
                        "Etapas concluídas": {
                          "id": "%3Bze%40",
                          "type": "rollup",
                          "rollup": {
                            "type": "number",
                            "number": 0,
                            "function": "sum"
                          }
                        },
                        "Data prevista 1ª entrega": {
                          "id": "%3CAem",
                          "type": "formula",
                          "formula": {
                            "type": "date",
                            "date": {
                              "start": "2026-06-16T00:00:00.000-03:00",
                              "end": null,
                              "time_zone": null
                            }
                          }
                        },
                        "Total de etapas": {
                          "id": "E%5E%3F%7D",
                          "type": "rollup",
                          "rollup": {
                            "type": "number",
                            "number": 0,
                            "function": "count"
                          }
                        },
                        "Bloqueios ativos": {
                          "id": "LMf%5D",
                          "type": "rich_text",
                          "rich_text": []
                        },
                        "Observações": {
                          "id": "LQkL",
                          "type": "rich_text",
                          "rich_text": [
                            {
                              "type": "text",
                              "text": {
                                "content": "CNPJ normalizado: 98765432000112",
                                "link": null
                              },
                              "annotations": {
                                "bold": false,
                                "italic": false,
                                "strikethrough": false,
                                "underline": false,
                                "code": false,
                                "color": "default"
                              },
                              "plain_text": "CNPJ normalizado: 98765432000112",
                              "href": null
                            }
                          ]
                        },
                        "Data de início": {
                          "id": "On~F",
                          "type": "date",
                          "date": {
                            "start": "2026-05-26T00:00:00.000-03:00",
                            "end": null,
                            "time_zone": null
                          }
                        },
                        "Etapas de Onboarding": {
                          "id": "RjEd",
                          "type": "relation",
                          "relation": [],
                          "has_more": false
                        },
                        "Origem (vendedor / comercial)": {
                          "id": "VUrB",
                          "type": "rich_text",
                          "rich_text": [
                            {
                              "type": "text",
                              "text": {
                                "content": "Olavo",
                                "link": null
                              },
                              "annotations": {
                                "bold": false,
                                "italic": false,
                                "strikethrough": false,
                                "underline": false,
                                "code": false,
                                "color": "default"
                              },
                              "plain_text": "Olavo",
                              "href": null
                            }
                          ]
                        },
                        "Tempo real até 1ª entrega": {
                          "id": "XK%7BE",
                          "type": "formula",
                          "formula": {
                            "type": "string",
                            "string": null
                          }
                        },
                        "Serviço": {
                          "id": "XtHm",
                          "type": "multi_select",
                          "multi_select": []
                        },
                        "Data real 1ª entrega": {
                          "id": "X~Oh",
                          "type": "date",
                          "date": null
                        },
                        "Progresso": {
                          "id": "Z%60%5B%5D",
                          "type": "formula",
                          "formula": {
                            "type": "string",
                            "string": null
                          }
                        },
                        "Decisões relacionadas": {
                          "id": "%5CHxS",
                          "type": "relation",
                          "relation": [],
                          "has_more": false
                        },
                        "SLA até 1ª entrega (dias)": {
                          "id": "fRby",
                          "type": "number",
                          "number": 21
                        },
                        "Responsável geral": {
                          "id": "m%3BNu",
                          "type": "people",
                          "people": []
                        },
                        "Status": {
                          "id": "wH%3Cl",
                          "type": "select",
                          "select": {
                            "id": "33577501-db85-4a6d-86a1-ff1592983391",
                            "name": "Em andamento",
                            "color": "blue"
                          }
                        },
                        "Modelo de negócio (business_model)": {
                          "id": "%7Dz%40U",
                          "type": "select",
                          "select": {
                            "id": "bd886eb2-9427-4613-a0b5-b6d1b9332fdf",
                            "name": "Lead Gen",
                            "color": "yellow"
                          }
                        },
                        "Etapa atual": {
                          "id": "~%3Fe%3F",
                          "type": "rich_text",
                          "rich_text": []
                        },
                        "Cliente": {
                          "id": "title",
                          "type": "title",
                          "title": [
                            {
                              "type": "text",
                              "text": {
                                "content": "Cliente Sandbox A2.1 Retest C",
                                "link": null
                              },
                              "annotations": {
                                "bold": false,
                                "italic": false,
                                "strikethrough": false,
                                "underline": false,
                                "code": false,
                                "color": "default"
                              },
                              "plain_text": "Cliente Sandbox A2.1 Retest C",
                              "href": null
                            }
                          ]
                        }
                      },
                      "url": "https://www.notion.so/Cliente-Sandbox-A2-1-Retest-C-36cb65e5c72b814c808ddd142f112a1e",
                      "public_url": null,
                      "archived": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "object": "page",
                      "id": "36cb65e5-c72b-818b-ae4d-ee918908d49e",
                      "created_time": "2026-05-26T20:56:00.000Z",
                      "last_edited_time": "2026-05-26T20:56:00.000Z",
                      "created_by": {
                        "object": "user",
                        "id": "4304a705-1614-4a56-abca-d433064f8365"
                      },
                      "last_edited_by": {
                        "object": "user",
                        "id": "4304a705-1614-4a56-abca-d433064f8365"
                      },
                      "cover": null,
                      "icon": null,
                      "parent": {
                        "type": "database_id",
                        "database_id": "04e34a62-624b-484c-bda5-46604564b88c"
                      },
                      "in_trash": false,
                      "is_archived": false,
                      "is_locked": false,
                      "properties": {
                        "Etapas concluídas": {
                          "id": "%3Bze%40",
                          "type": "rollup",
                          "rollup": {
                            "type": "number",
                            "number": 0,
                            "function": "sum"
                          }
                        },
                        "Data prevista 1ª entrega": {
                          "id": "%3CAem",
                          "type": "formula",
                          "formula": {
                            "type": "date",
                            "date": {
                              "start": "2026-06-16T00:00:00.000-03:00",
                              "end": null,
                              "time_zone": null
                            }
                          }
                        },
                        "Total de etapas": {
                          "id": "E%5E%3F%7D",
                          "type": "rollup",
                          "rollup": {
                            "type": "number",
                            "number": 0,
                            "function": "count"
                          }
                        },
                        "Bloqueios ativos": {
                          "id": "LMf%5D",
                          "type": "rich_text",
                          "rich_text": []
                        },
                        "Observações": {
                          "id": "LQkL",
                          "type": "rich_text",
                          "rich_text": [
                            {
                              "type": "text",
                              "text": {
                                "content": "CNPJ normalizado: 98765432000111",
                                "link": null
                              },
                              "annotations": {
                                "bold": false,
                                "italic": false,
                                "strikethrough": false,
                                "underline": false,
                                "code": false,
                                "color": "default"
                              },
                              "plain_text": "CNPJ normalizado: 98765432000111",
                              "href": null
                            }
                          ]
                        },
                        "Data de início": {
                          "id": "On~F",
                          "type": "date",
                          "date": {
                            "start": "2026-05-26T00:00:00.000-03:00",
                            "end": null,
                            "time_zone": null
                          }
                        },
                        "Etapas de Onboarding": {
                          "id": "RjEd",
                          "type": "relation",
                          "relation": [],
                          "has_more": false
                        },
                        "Origem (vendedor / comercial)": {
                          "id": "VUrB",
                          "type": "rich_text",
                          "rich_text": [
                            {
                              "type": "text",
                              "text": {
                                "content": "Olavo",
                                "link": null
                              },
                              "annotations": {
                                "bold": false,
                                "italic": false,
                                "strikethrough": false,
                                "underline": false,
                                "code": false,
                                "color": "default"
                              },
                              "plain_text": "Olavo",
                              "href": null
                            }
                          ]
                        },
                        "Tempo real até 1ª entrega": {
                          "id": "XK%7BE",
                          "type": "formula",
                          "formula": {
                            "type": "string",
                            "string": null
                          }
                        },
                        "Serviço": {
                          "id": "XtHm",
                          "type": "multi_select",
                          "multi_select": []
                        },
                        "Data real 1ª entrega": {
                          "id": "X~Oh",
                          "type": "date",
                          "date": null
                        },
                        "Progresso": {
                          "id": "Z%60%5B%5D",
                          "type": "formula",
                          "formula": {
                            "type": "string",
                            "string": null
                          }
                        },
                        "Decisões relacionadas": {
                          "id": "%5CHxS",
                          "type": "relation",
                          "relation": [],
                          "has_more": false
                        },
                        "SLA até 1ª entrega (dias)": {
                          "id": "fRby",
                          "type": "number",
                          "number": 21
                        },
                        "Responsável geral": {
                          "id": "m%3BNu",
                          "type": "people",
                          "people": []
                        },
                        "Status": {
                          "id": "wH%3Cl",
                          "type": "select",
                          "select": {
                            "id": "33577501-db85-4a6d-86a1-ff1592983391",
                            "name": "Em andamento",
                            "color": "blue"
                          }
                        },
                        "Modelo de negócio (business_model)": {
                          "id": "%7Dz%40U",
                          "type": "select",
                          "select": {
                            "id": "bd886eb2-9427-4613-a0b5-b6d1b9332fdf",
                            "name": "Lead Gen",
                            "color": "yellow"
                          }
                        },
                        "Etapa atual": {
                          "id": "~%3Fe%3F",
                          "type": "rich_text",
                          "rich_text": []
                        },
                        "Cliente": {
                          "id": "title",
                          "type": "title",
                          "title": [
                            {
                              "type": "text",
                              "text": {
                                "content": "Cliente Sandbox A2.1 Retest B",
                                "link": null
                              },
                              "annotations": {
                                "bold": false,
                                "italic": false,
                                "strikethrough": false,
                                "underline": false,
                                "code": false,
                                "color": "default"
                              },
                              "plain_text": "Cliente Sandbox A2.1 Retest B",
                              "href": null
                            }
                          ]
                        }
                      },
                      "url": "https://www.notion.so/Cliente-Sandbox-A2-1-Retest-B-36cb65e5c72b818bae4dee918908d49e",
                      "public_url": null,
                      "archived": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "object": "page",
                      "id": "36cb65e5-c72b-8161-bbf0-da0a4416e2aa",
                      "created_time": "2026-05-26T20:48:00.000Z",
                      "last_edited_time": "2026-05-26T20:48:00.000Z",
                      "created_by": {
                        "object": "user",
                        "id": "4304a705-1614-4a56-abca-d433064f8365"
                      },
                      "last_edited_by": {
                        "object": "user",
                        "id": "4304a705-1614-4a56-abca-d433064f8365"
                      },
                      "cover": null,
                      "icon": null,
                      "parent": {
                        "type": "database_id",
                        "database_id": "04e34a62-624b-484c-bda5-46604564b88c"
                      },
                      "in_trash": false,
                      "is_archived": false,
                      "is_locked": false,
                      "properties": {
                        "Etapas concluídas": {
                          "id": "%3Bze%40",
                          "type": "rollup",
                          "rollup": {
                            "type": "number",
                            "number": 0,
                            "function": "sum"
                          }
                        },
                        "Data prevista 1ª entrega": {
                          "id": "%3CAem",
                          "type": "formula",
                          "formula": {
                            "type": "date",
                            "date": {
                              "start": "2026-06-16T00:00:00.000-03:00",
                              "end": null,
                              "time_zone": null
                            }
                          }
                        },
                        "Total de etapas": {
                          "id": "E%5E%3F%7D",
                          "type": "rollup",
                          "rollup": {
                            "type": "number",
                            "number": 0,
                            "function": "count"
                          }
                        },
                        "Bloqueios ativos": {
                          "id": "LMf%5D",
                          "type": "rich_text",
                          "rich_text": []
                        },
                        "Observações": {
                          "id": "LQkL",
                          "type": "rich_text",
                          "rich_text": [
                            {
                              "type": "text",
                              "text": {
                                "content": "CNPJ normalizado: 98765432000110",
                                "link": null
                              },
                              "annotations": {
                                "bold": false,
                                "italic": false,
                                "strikethrough": false,
                                "underline": false,
                                "code": false,
                                "color": "default"
                              },
                              "plain_text": "CNPJ normalizado: 98765432000110",
                              "href": null
                            }
                          ]
                        },
                        "Data de início": {
                          "id": "On~F",
                          "type": "date",
                          "date": {
                            "start": "2026-05-26T00:00:00.000-03:00",
                            "end": null,
                            "time_zone": null
                          }
                        },
                        "Etapas de Onboarding": {
                          "id": "RjEd",
                          "type": "relation",
                          "relation": [],
                          "has_more": false
                        },
                        "Origem (vendedor / comercial)": {
                          "id": "VUrB",
                          "type": "rich_text",
                          "rich_text": [
                            {
                              "type": "text",
                              "text": {
                                "content": "Olavo",
                                "link": null
                              },
                              "annotations": {
                                "bold": false,
                                "italic": false,
                                "strikethrough": false,
                                "underline": false,
                                "code": false,
                                "color": "default"
                              },
                              "plain_text": "Olavo",
                              "href": null
                            }
                          ]
                        },
                        "Tempo real até 1ª entrega": {
                          "id": "XK%7BE",
                          "type": "formula",
                          "formula": {
                            "type": "string",
                            "string": null
                          }
                        },
                        "Serviço": {
                          "id": "XtHm",
                          "type": "multi_select",
                          "multi_select": []
                        },
                        "Data real 1ª entrega": {
                          "id": "X~Oh",
                          "type": "date",
                          "date": null
                        },
                        "Progresso": {
                          "id": "Z%60%5B%5D",
                          "type": "formula",
                          "formula": {
                            "type": "string",
                            "string": null
                          }
                        },
                        "Decisões relacionadas": {
                          "id": "%5CHxS",
                          "type": "relation",
                          "relation": [],
                          "has_more": false
                        },
                        "SLA até 1ª entrega (dias)": {
                          "id": "fRby",
                          "type": "number",
                          "number": 21
                        },
                        "Responsável geral": {
                          "id": "m%3BNu",
                          "type": "people",
                          "people": []
                        },
                        "Status": {
                          "id": "wH%3Cl",
                          "type": "select",
                          "select": {
                            "id": "33577501-db85-4a6d-86a1-ff1592983391",
                            "name": "Em andamento",
                            "color": "blue"
                          }
                        },
                        "Modelo de negócio (business_model)": {
                          "id": "%7Dz%40U",
                          "type": "select",
                          "select": {
                            "id": "bd886eb2-9427-4613-a0b5-b6d1b9332fdf",
                            "name": "Lead Gen",
                            "color": "yellow"
                          }
                        },
                        "Etapa atual": {
                          "id": "~%3Fe%3F",
                          "type": "rich_text",
                          "rich_text": []
                        },
                        "Cliente": {
                          "id": "title",
                          "type": "title",
                          "title": [
                            {
                              "type": "text",
                              "text": {
                                "content": "Cliente Sandbox A2.1 Retest",
                                "link": null
                              },
                              "annotations": {
                                "bold": false,
                                "italic": false,
                                "strikethrough": false,
                                "underline": false,
                                "code": false,
                                "color": "default"
                              },
                              "plain_text": "Cliente Sandbox A2.1 Retest",
                              "href": null
                            }
                          ]
                        }
                      },
                      "url": "https://www.notion.so/Cliente-Sandbox-A2-1-Retest-36cb65e5c72b8161bbf0da0a4416e2aa",
                      "public_url": null,
                      "archived": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "[Onb A2.1] Detectar Duplicidade": [
          {
            "startTime": 1779837779536,
            "executionIndex": 5,
            "source": [
              {
                "previousNode": "[Onb A2.1] Buscar Clientes Ativos",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 28,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "cliente_nome": "Cliente Sandbox A2.1 Retest E",
                      "cliente_nome_normalizado": "cliente sandbox a2.1 retest e",
                      "cnpj_original": "98.765.432/0001-13",
                      "cnpj_normalizado": "98765432000113",
                      "data_inicio": "2026-05-26",
                      "modelo_negocio": "Lead Gen",
                      "servico": [
                        "Tráfego pago",
                        "Agente IA"
                      ],
                      "origem_comercial": "Olavo",
                      "responsavel_geral_email": "olavofranzin@franzcomunicacao.com",
                      "observacoes": "CNPJ normalizado: 98765432000113",
                      "raw_payload": {
                        "cnpj_cliente": "98.765.432/0001-13",
                        "cliente_nome": "Cliente Sandbox A2.1 Retest E",
                        "data_inicio": "2026-05-26",
                        "modelo_negocio": "Lead Gen",
                        "servico": [
                          "Trafego pago",
                          "Agente IA"
                        ],
                        "origem_comercial": "Olavo",
                        "responsavel_geral_email": "olavofranzin@franzcomunicacao.com"
                      },
                      "active_statuses": [
                        "Em andamento",
                        "Não iniciado",
                        "Bloqueado"
                      ],
                      "has_duplicate": true,
                      "duplicate_page_id": "36cb65e5-c72b-8105-9cd2-f37366abfdff",
                      "duplicate_status": "Em andamento",
                      "duplicate_message": "Onboarding ativo ja existe para este cliente."
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "[Onb A2.1] Duplicado?": [
          {
            "startTime": 1779837779566,
            "executionIndex": 6,
            "source": [
              {
                "previousNode": "[Onb A2.1] Detectar Duplicidade",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 1,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "cliente_nome": "Cliente Sandbox A2.1 Retest E",
                      "cliente_nome_normalizado": "cliente sandbox a2.1 retest e",
                      "cnpj_original": "98.765.432/0001-13",
                      "cnpj_normalizado": "98765432000113",
                      "data_inicio": "2026-05-26",
                      "modelo_negocio": "Lead Gen",
                      "servico": [
                        "Tráfego pago",
                        "Agente IA"
                      ],
                      "origem_comercial": "Olavo",
                      "responsavel_geral_email": "olavofranzin@franzcomunicacao.com",
                      "observacoes": "CNPJ normalizado: 98765432000113",
                      "raw_payload": {
                        "cnpj_cliente": "98.765.432/0001-13",
                        "cliente_nome": "Cliente Sandbox A2.1 Retest E",
                        "data_inicio": "2026-05-26",
                        "modelo_negocio": "Lead Gen",
                        "servico": [
                          "Trafego pago",
                          "Agente IA"
                        ],
                        "origem_comercial": "Olavo",
                        "responsavel_geral_email": "olavofranzin@franzcomunicacao.com"
                      },
                      "active_statuses": [
                        "Em andamento",
                        "Não iniciado",
                        "Bloqueado"
                      ],
                      "has_duplicate": true,
                      "duplicate_page_id": "36cb65e5-c72b-8105-9cd2-f37366abfdff",
                      "duplicate_status": "Em andamento",
                      "duplicate_message": "Onboarding ativo ja existe para este cliente."
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ],
                []
              ]
            }
          }
        ],
        "[Onb A2.1] Notificar Duplicidade Olavo": [
          {
            "startTime": 1779837779567,
            "executionIndex": 7,
            "source": [
              {
                "previousNode": "[Onb A2.1] Duplicado?",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 340,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "error": {
                        "message": "The service was not able to process your request",
                        "timestamp": 1779837779898,
                        "name": "NodeApiError",
                        "description": "Internal Server Error",
                        "context": {}
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "[Onb A2.1] Responder 409": [
          {
            "startTime": 1779837779908,
            "executionIndex": 8,
            "source": [
              {
                "previousNode": "[Onb A2.1] Notificar Duplicidade Olavo",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 9,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "error": {
                        "message": "The service was not able to process your request",
                        "timestamp": 1779837779898,
                        "name": "NodeApiError",
                        "description": "Internal Server Error",
                        "context": {}
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ],
                [
                  {
                    "json": {
                      "response": {
                        "body": {
                          "ok": false
                        },
                        "headers": {},
                        "statusCode": 409
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "[Onb A2.1] Responder 409"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {},
      "runtimeData": {
        "version": 1,
        "establishedAt": 1779837778283,
        "source": "webhook",
        "redaction": {
          "version": 1,
          "policy": "none"
        },
        "triggerNode": {
          "name": "[Onb A2.1] Webhook Briefing",
          "type": "n8n-nodes-base.webhook"
        }
      }
    },
    "resumeToken": "f3fd19e9dd2df94574c7730755668be474bee4608abbf6ffd8e07f8ee1182e89"
  },
  "workflowData": {
    "id": "0MfPA3Uqmj4TySiX",
    "name": "Onb - Briefing to Client",
    "nodes": [
      {
        "parameters": {
          "multipleMethods": false,
          "httpMethod": "POST",
          "path": "onb-briefing-to-client",
          "authentication": "none",
          "responseMode": "responseNode",
          "webhookNotice": "",
          "options": {}
        },
        "id": "d8f6db3d-f644-49ff-bb9d-f0ec53f6dce1",
        "name": "[Onb A2.1] Webhook Briefing",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          300
        ],
        "webhookId": "7eeab309-f742-4f72-ac58-329f48a151a7"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const payload = $json.body ?? $json;\nconst required = ['cnpj_cliente', 'cliente_nome', 'data_inicio', 'modelo_negocio', 'servico', 'origem_comercial'];\nconst errors = [];\nfor (const field of required) {\n  if (payload[field] === undefined || payload[field] === null || payload[field] === '') {\n    errors.push(`Campo obrigatorio ausente: ${field}`);\n  }\n}\nconst modelosAceitos = ['Infoproduto', 'Lead Gen', 'E-Commerce'];\nconst servicosAceitos = new Set(['Tr\\u00e1fego pago', 'Trafego pago', 'Site', 'Agente IA']);\nif (payload.modelo_negocio && !modelosAceitos.includes(payload.modelo_negocio)) {\n  errors.push('modelo_negocio invalido');\n}\nif (payload.servico && !Array.isArray(payload.servico)) {\n  errors.push('servico deve ser array');\n}\nif (Array.isArray(payload.servico)) {\n  const invalidos = payload.servico.filter((item) => !servicosAceitos.has(item));\n  if (invalidos.length) {\n    errors.push(`servico invalido: ${invalidos.join(', ')}`);\n  }\n}\nif (payload.data_inicio && !/^\\d{4}-\\d{2}-\\d{2}$/.test(payload.data_inicio)) {\n  errors.push('data_inicio deve estar em YYYY-MM-DD');\n}\nif (errors.length) {\n  return [{ json: { is_valid: false, statusCode: 400, error: 'Payload invalido', details: errors, received_payload: payload } }];\n}\nreturn [{ json: { is_valid: true, payload } }];",
          "notice": ""
        },
        "id": "e329cc83-8245-4687-a918-8ec704bcb35c",
        "name": "[Onb A2.1] Validar Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ $json.is_valid }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": false,
          "options": {}
        },
        "id": "9f4ac0c6-ca80-4777-a1a3-795466ad6329",
        "name": "[Onb A2.1] Payload Valido?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          720,
          300
        ]
      },
      {
        "parameters": {
          "generalNotice": "",
          "respondWith": "json",
          "webhookNotice": "",
          "responseBody": "={{ { ok: false, error: $json.error, details: $json.details, received_payload: $json.received_payload } }}",
          "options": {
            "responseCode": "={{ $json.statusCode || 400 }}"
          }
        },
        "id": "3c40cd40-dc8c-4666-b13b-9a17b8426c87",
        "name": "[Onb A2.1] Responder 400",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.3,
        "position": [
          960,
          448
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const payload = $json.payload;\nconst normalizarTexto = (value) => String(value ?? '').trim();\nconst normalizarNome = (value) => normalizarTexto(value).toLocaleLowerCase('pt-BR');\nconst cnpj_normalizado = String(payload.cnpj_cliente ?? '').replace(/\\D/g, '');\nconst cliente_nome = normalizarTexto(payload.cliente_nome);\nconst servico = Array.isArray(payload.servico)\n  ? payload.servico.map((item) => normalizarTexto(item) === 'Trafego pago' ? 'Tr\\u00e1fego pago' : normalizarTexto(item))\n  : [];\nreturn [{ json: {\n  cliente_nome,\n  cliente_nome_normalizado: normalizarNome(cliente_nome),\n  cnpj_original: payload.cnpj_cliente,\n  cnpj_normalizado,\n  data_inicio: payload.data_inicio,\n  modelo_negocio: payload.modelo_negocio,\n  servico,\n  origem_comercial: normalizarTexto(payload.origem_comercial),\n  responsavel_geral_email: payload.responsavel_geral_email ? normalizarTexto(payload.responsavel_geral_email).toLowerCase() : null,\n  observacoes: `CNPJ normalizado: ${cnpj_normalizado}`,\n  raw_payload: payload,\n  active_statuses: ['Em andamento', 'N\\u00e3o iniciado', 'Bloqueado']\n} }];",
          "notice": ""
        },
        "id": "31fe1d8d-dd53-4876-9b75-270e10ffd2f5",
        "name": "[Onb A2.1] Normalizar Contexto",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          160
        ]
      },
      {
        "parameters": {
          "authentication": "apiKey",
          "notionNotice": "",
          "Credentials": "",
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "mode": "list",
            "value": "04e34a62624b484cbda546604564b88c"
          },
          "returnAll": true,
          "simple": false,
          "filterType": "none",
          "options": {}
        },
        "id": "2db78590-93b3-490d-b8cf-f8fe0fae492d",
        "name": "[Onb A2.1] Buscar Clientes Ativos",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          1200,
          160
        ],
        "alwaysOutputData": true,
        "credentials": {
          "notionApi": {
            "id": "<credential_id_redacted>",
            "name": "Notion account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const contexto = $('[Onb A2.1] Normalizar Contexto').first().json;\nconst rows = $input.all();\nconst pickPlain = (prop) => {\n  if (!prop) return '';\n  if (prop.title?.length) return prop.title.map((item) => item.plain_text || '').join('').trim();\n  if (prop.rich_text?.length) return prop.rich_text.map((item) => item.plain_text || '').join('').trim();\n  return '';\n};\nconst pickSelect = (prop) => prop?.select?.name ?? '';\nconst activeStatuses = new Set(contexto.active_statuses);\nconst duplicate = rows.find((item) => {\n  const props = item.json.properties || {};\n  const nome = pickPlain(props['Cliente']);\n  const nomeNormalizado = nome.trim().toLocaleLowerCase('pt-BR');\n  const status = pickSelect(props['Status']);\n  return activeStatuses.has(status) && nomeNormalizado === contexto.cliente_nome_normalizado;\n});\nif (!duplicate) {\n  return [{ json: { ...contexto, has_duplicate: false } }];\n}\nreturn [{ json: {\n  ...contexto,\n  has_duplicate: true,\n  duplicate_page_id: duplicate.json.id,\n  duplicate_status: pickSelect(duplicate.json.properties?.Status),\n  duplicate_message: 'Onboarding ativo ja existe para este cliente.'\n} }];",
          "notice": ""
        },
        "id": "a0cf9ec4-a0cf-4d1b-a40b-d61285a6f46f",
        "name": "[Onb A2.1] Detectar Duplicidade",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1440,
          160
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ $json.has_duplicate }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": false,
          "options": {}
        },
        "id": "783a06e1-7815-4441-9db7-dca468488d27",
        "name": "[Onb A2.1] Duplicado?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1680,
          160
        ]
      },
      {
        "parameters": {
          "curlImport": "",
          "method": "POST",
          "url": "https://n8n-evolution.1unqx7.easypanel.host/message/sendText/Whats%20Business",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ { number: '5511888880001', text: '[Onb A2.1] Duplicidade detectada\\ncliente=' + $json.cliente_nome + '\\ncnpj=' + $json.cnpj_normalizado + '\\npayload=' + JSON.stringify($json.raw_payload) } }}",
          "options": {},
          "infoMessage": ""
        },
        "id": "f530eaf6-71d2-4eb8-b24b-fc3d0f972679",
        "name": "[Onb A2.1] Notificar Duplicidade Olavo",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "continueOnFail": true,
        "position": [
          1920,
          48
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "<credential_id_redacted>",
            "name": "Evolution API Header Auth"
          }
        }
      },
      {
        "parameters": {
          "generalNotice": "",
          "respondWith": "json",
          "webhookNotice": "",
          "responseBody": "={{ { ok: false, error: $json.duplicate_message, cliente_nome: $json.cliente_nome, cnpj_normalizado: $json.cnpj_normalizado } }}",
          "options": {
            "responseCode": 409
          }
        },
        "id": "7cd5c0ba-90b2-4b1f-b3a6-a28735f44ad0",
        "name": "[Onb A2.1] Responder 409",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.3,
        "position": [
          2160,
          48
        ]
      },
      {
        "parameters": {
          "authentication": "apiKey",
          "notionNotice": "",
          "Credentials": "",
          "resource": "user",
          "operation": "getAll",
          "returnAll": true
        },
        "id": "f099bcb8-fe7b-4b5b-a96a-b5f49e23f18e",
        "name": "[Onb A2.1] Buscar Usuarios Workspace",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          1920,
          272
        ],
        "alwaysOutputData": true,
        "credentials": {
          "notionApi": {
            "id": "<credential_id_redacted>",
            "name": "Notion account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const contexto = $('[Onb A2.1] Detectar Duplicidade').first().json;\nconst users = $input.all().map((item) => item.json);\nconst responsavel = contexto.responsavel_geral_email\n  ? users.find((user) => String(user.person?.email || '').toLowerCase() === contexto.responsavel_geral_email)\n  : null;\nreturn [{ json: {\n  ...contexto,\n  responsavel_geral_id: responsavel?.id ?? null,\n  schema_hints: {\n    cliente_relation_inverse: 'Etapas de Onboarding',\n    etapas_title_property: 'Nome da etapa'\n  },\n  cliente_properties: {\n    cliente_nome: contexto.cliente_nome,\n    status: 'Em andamento',\n    data_inicio: contexto.data_inicio,\n    modelo_negocio: contexto.modelo_negocio,\n    servico: contexto.servico,\n    origem_comercial: contexto.origem_comercial,\n    observacoes: contexto.observacoes,\n    sla_primeira_entrega: 21,\n    responsavel_geral_id: responsavel?.id ?? null\n  }\n} }];",
          "notice": ""
        },
        "id": "1fcfa5ef-f2cc-47aa-a417-33c5144e1ed8",
        "name": "[Onb A2.1] Resolver Responsavel Geral",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2160,
          272
        ]
      },
      {
        "parameters": {
          "authentication": "apiKey",
          "notionNotice": "",
          "Credentials": "",
          "resource": "databasePage",
          "operation": "create",
          "databaseId": {
            "__rl": true,
            "mode": "list",
            "value": "04e34a62624b484cbda546604564b88c"
          },
          "title": "={{ $json.cliente_properties.cliente_nome }}",
          "simple": false,
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "Status|select",
                "type": "={{$parameter[\"&key\"].split(\"|\")[1]}}",
                "title": "",
                "richText": false,
                "textContent": "",
                "text": {},
                "phoneValue": "",
                "multiSelectValue": [],
                "selectValue": "Em andamento",
                "statusValue": "",
                "emailValue": "",
                "ignoreIfEmpty": false,
                "urlValue": "",
                "peopleValue": [],
                "relationValue": [],
                "checkboxValue": false,
                "numberValue": 0,
                "range": false,
                "includeTime": true,
                "date": "",
                "timezone": "default",
                "fileUrls": {}
              },
              {
                "key": "Data de início|date",
                "type": "={{$parameter[\"&key\"].split(\"|\")[1]}}",
                "title": "",
                "richText": false,
                "textContent": "",
                "text": {},
                "phoneValue": "",
                "multiSelectValue": [],
                "selectValue": "",
                "statusValue": "",
                "emailValue": "",
                "ignoreIfEmpty": false,
                "urlValue": "",
                "peopleValue": [],
                "relationValue": [],
                "checkboxValue": false,
                "numberValue": 0,
                "range": false,
                "includeTime": true,
                "date": "={{ $json.cliente_properties.data_inicio }}",
                "timezone": "default",
                "fileUrls": {}
              },
              {
                "key": "Modelo de negócio (business_model)|select",
                "type": "={{$parameter[\"&key\"].split(\"|\")[1]}}",
                "title": "",
                "richText": false,
                "textContent": "",
                "text": {},
                "phoneValue": "",
                "multiSelectValue": [],
                "selectValue": "={{ $json.cliente_properties.modelo_negocio }}",
                "statusValue": "",
                "emailValue": "",
                "ignoreIfEmpty": false,
                "urlValue": "",
                "peopleValue": [],
                "relationValue": [],
                "checkboxValue": false,
                "numberValue": 0,
                "range": false,
                "includeTime": true,
                "date": "",
                "timezone": "default",
                "fileUrls": {}
              },
              {
                "key": "Serviço|multi_select",
                "type": "={{$parameter[\"&key\"].split(\"|\")[1]}}",
                "title": "",
                "richText": false,
                "textContent": "",
                "text": {},
                "phoneValue": "",
                "multiSelectValue": [],
                "selectValue": "",
                "statusValue": "",
                "emailValue": "",
                "ignoreIfEmpty": false,
                "urlValue": "",
                "peopleValue": [],
                "relationValue": [],
                "checkboxValue": false,
                "numberValue": 0,
                "range": false,
                "includeTime": true,
                "date": "",
                "timezone": "default",
                "fileUrls": {}
              },
              {
                "key": "Origem (vendedor / comercial)|rich_text",
                "type": "={{$parameter[\"&key\"].split(\"|\")[1]}}",
                "title": "",
                "richText": false,
                "textContent": "={{ $json.cliente_properties.origem_comercial }}",
                "text": {},
                "phoneValue": "",
                "multiSelectValue": [],
                "selectValue": "",
                "statusValue": "",
                "emailValue": "",
                "ignoreIfEmpty": false,
                "urlValue": "",
                "peopleValue": [],
                "relationValue": [],
                "checkboxValue": false,
                "numberValue": 0,
                "range": false,
                "includeTime": true,
                "date": "",
                "timezone": "default",
                "fileUrls": {}
              },
              {
                "key": "Observações|rich_text",
                "type": "={{$parameter[\"&key\"].split(\"|\")[1]}}",
                "title": "",
                "richText": false,
                "textContent": "={{ $json.cliente_properties.observacoes }}",
                "text": {},
                "phoneValue": "",
                "multiSelectValue": [],
                "selectValue": "",
                "statusValue": "",
                "emailValue": "",
                "ignoreIfEmpty": false,
                "urlValue": "",
                "peopleValue": [],
                "relationValue": [],
                "checkboxValue": false,
                "numberValue": 0,
                "range": false,
                "includeTime": true,
                "date": "",
                "timezone": "default",
                "fileUrls": {}
              },
              {
                "key": "SLA até 1ª entrega (dias)|number",
                "type": "={{$parameter[\"&key\"].split(\"|\")[1]}}",
                "title": "",
                "richText": false,
                "textContent": "",
                "text": {},
                "phoneValue": "",
                "multiSelectValue": [],
                "selectValue": "",
                "statusValue": "",
                "emailValue": "",
                "ignoreIfEmpty": false,
                "urlValue": "",
                "peopleValue": [],
                "relationValue": [],
                "checkboxValue": false,
                "numberValue": 21,
                "range": false,
                "includeTime": true,
                "date": "",
                "timezone": "default",
                "fileUrls": {}
              },
              {
                "key": "Responsável geral|people",
                "type": "={{$parameter[\"&key\"].split(\"|\")[1]}}",
                "title": "",
                "richText": false,
                "textContent": "",
                "text": {},
                "phoneValue": "",
                "multiSelectValue": [],
                "selectValue": "",
                "statusValue": "",
                "emailValue": "",
                "ignoreIfEmpty": false,
                "urlValue": "",
                "peopleValue": [],
                "relationValue": [],
                "checkboxValue": false,
                "numberValue": 0,
                "range": false,
                "includeTime": true,
                "date": "",
                "timezone": "default",
                "fileUrls": {}
              }
            ]
          },
          "blockUi": {},
          "options": {}
        },
        "id": "bf068205-d58d-46e9-b8fb-dc6767504c72",
        "name": "[Onb A2.1] Criar Cliente",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          2400,
          272
        ],
        "credentials": {
          "notionApi": {
            "id": "<credential_id_redacted>",
            "name": "Notion account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const etapas = [{\"sequencia\": 1, \"nome\": \"Receber handoff do Comercial\", \"tipo_etapa\": \"Documentação interna\", \"aguardando\": \"Comercial\", \"prazo_dias\": 0, \"inputs\": \"Contrato assinado e dados mínimos\", \"output_dod\": \"Pacote de handoff entregue\"}, {\"sequencia\": 2, \"nome\": \"Validar completude do handoff\", \"tipo_etapa\": \"Documentação interna\", \"aguardando\": \"Nada\", \"prazo_dias\": 0, \"inputs\": \"Pacote recebido\", \"output_dod\": \"Lacunas críticas identificadas ou sanadas\"}, {\"sequencia\": 3, \"nome\": \"Criar registro em PHI - Onboarding de Clientes\", \"tipo_etapa\": \"Documentação interna\", \"aguardando\": \"Nada\", \"prazo_dias\": 0, \"inputs\": \"Dados mínimos validados\", \"output_dod\": \"Página do onboarding criada\"}, {\"sequencia\": 4, \"nome\": \"Definir responsável operacional\", \"tipo_etapa\": \"Documentação interna\", \"aguardando\": \"Nada\", \"prazo_dias\": 0, \"inputs\": \"Registro criado\", \"output_dod\": \"Dono do onboarding definido\"}, {\"sequencia\": 5, \"nome\": \"Enviar mensagem inicial + briefing\", \"tipo_etapa\": \"Marco de comunicação\", \"aguardando\": \"Cliente\", \"prazo_dias\": 0, \"inputs\": \"Contato principal confirmado\", \"output_dod\": \"Cliente recebe instruções e link do form\"}, {\"sequencia\": 6, \"nome\": \"Cobrar briefing não respondido\", \"tipo_etapa\": \"Marco de comunicação\", \"aguardando\": \"Cliente\", \"prazo_dias\": 1, \"inputs\": \"Form enviado sem resposta\", \"output_dod\": \"Follow-up executado\"}, {\"sequencia\": 7, \"nome\": \"Validar briefing recebido\", \"tipo_etapa\": \"Documentação interna\", \"aguardando\": \"Cliente\", \"prazo_dias\": 2, \"inputs\": \"Resposta do Google Form\", \"output_dod\": \"Briefing classificado como aprovado, com lacunas ou insuficiente\"}, {\"sequencia\": 8, \"nome\": \"Produzir resumo operacional do briefing\", \"tipo_etapa\": \"Documentação interna\", \"aguardando\": \"Nada\", \"prazo_dias\": 2, \"inputs\": \"Briefing validado\", \"output_dod\": \"Resumo com oferta, público, meta e riscos anexado ao PHI\"}, {\"sequencia\": 9, \"nome\": \"Executar análise de ativos e presença digital\", \"tipo_etapa\": \"Documentação interna\", \"aguardando\": \"Nada\", \"prazo_dias\": 3, \"inputs\": \"Briefing validado + links\", \"output_dod\": \"Achados principais coletados\"}, {\"sequencia\": 10, \"nome\": \"Rodar cliente oculto e checar rastreamento aparente\", \"tipo_etapa\": \"Setup técnico\", \"aguardando\": \"Nada\", \"prazo_dias\": 3, \"inputs\": \"Site/contato do cliente\", \"output_dod\": \"Fricções e lacunas técnicas registradas\"}, {\"sequencia\": 11, \"nome\": \"Analisar concorrentes prioritários\", \"tipo_etapa\": \"Documentação interna\", \"aguardando\": \"Nada\", \"prazo_dias\": 3, \"inputs\": \"Lista de concorrentes\", \"output_dod\": \"Benchmark mínimo concluído\"}, {\"sequencia\": 12, \"nome\": \"Consolidar relatório curto pré-kickoff\", \"tipo_etapa\": \"Entrega\", \"aguardando\": \"Nada\", \"prazo_dias\": 4, \"inputs\": \"Achados da análise prévia\", \"output_dod\": \"Relatório curto pronto para sustentar a kickoff\"}, {\"sequencia\": 13, \"nome\": \"Conduzir call de kickoff e preencher ata\", \"tipo_etapa\": \"Marco de comunicação\", \"aguardando\": \"Cliente\", \"prazo_dias\": 4, \"inputs\": \"Briefing + relatório prévio + agenda da reunião\", \"output_dod\": \"Kickoff executada e ata preenchida\"}, {\"sequencia\": 14, \"nome\": \"Consolidar pendências, responsáveis e cronograma pós-kickoff\", \"tipo_etapa\": \"Documentação interna\", \"aguardando\": \"Nada\", \"prazo_dias\": 4, \"inputs\": \"Ata da kickoff\", \"output_dod\": \"Lista de pendências e cronograma macro enviados ao cliente\"}, {\"sequencia\": 15, \"nome\": \"Enviar materiais bônus D+1 / D+2\", \"tipo_etapa\": \"Entrega\", \"aguardando\": \"Cliente\", \"prazo_dias\": 5, \"inputs\": \"Resumo da call e materiais de apoio\", \"output_dod\": \"Cliente recebe reforço pós-kickoff e próximos passos\"}, {\"sequencia\": 16, \"nome\": \"Estruturar Business Manager e ativos Meta\", \"tipo_etapa\": \"Setup técnico\", \"aguardando\": \"Cliente\", \"prazo_dias\": 5, \"inputs\": \"Acessos Meta e dados do domínio\", \"output_dod\": \"BM, Página, Instagram, conta de anúncios e domínio estruturados\"}, {\"sequencia\": 17, \"nome\": \"Implantar GTM, GA4 e base de tracking\", \"tipo_etapa\": \"Setup técnico\", \"aguardando\": \"Fornecedor externo\", \"prazo_dias\": 6, \"inputs\": \"Acesso ao site/CMS e IDs das plataformas\", \"output_dod\": \"GTM e GA4 instalados e publicados com versionamento\"}, {\"sequencia\": 18, \"nome\": \"Configurar Pixel e eventos Meta\", \"tipo_etapa\": \"Setup técnico\", \"aguardando\": \"Fornecedor externo\", \"prazo_dias\": 6, \"inputs\": \"Pixel criado + GTM funcional\", \"output_dod\": \"Eventos Meta críticos disparando corretamente\"}, {\"sequencia\": 19, \"nome\": \"Configurar Google Ads e importação de conversões\", \"tipo_etapa\": \"Setup técnico\", \"aguardando\": \"Cliente\", \"prazo_dias\": 7, \"inputs\": \"Conta Google Ads + vínculo com GA4\", \"output_dod\": \"Conversões importadas e elegíveis para uso\"}, {\"sequencia\": 20, \"nome\": \"Criar públicos mínimos em GA4 / Google Ads / Meta\", \"tipo_etapa\": \"Setup técnico\", \"aguardando\": \"Nada\", \"prazo_dias\": 7, \"inputs\": \"Tracking base validado\", \"output_dod\": \"Públicos mínimos em preenchimento\"}, {\"sequencia\": 21, \"nome\": \"Executar validação final PASS/FAIL da stack\", \"tipo_etapa\": \"Entrega\", \"aguardando\": \"Nada\", \"prazo_dias\": 8, \"inputs\": \"Todas as configurações anteriores\", \"output_dod\": \"Jornada ponta a ponta validada e pendências remanescentes registradas\"}, {\"sequencia\": 22, \"nome\": \"Revisar hipótese estratégica e definir canal de entrada\", \"tipo_etapa\": \"Documentação interna\", \"aguardando\": \"Nada\", \"prazo_dias\": 8, \"inputs\": \"Fase 4 concluída + orçamento definido\", \"output_dod\": \"Hipótese inicial revisada, papel de Meta/Google definido e oferta foco escolhida\"}, {\"sequencia\": 23, \"nome\": \"Criar arquitetura de públicos quente, morna e fria\", \"tipo_etapa\": \"Setup técnico\", \"aguardando\": \"Nada\", \"prazo_dias\": 9, \"inputs\": \"Eventos validados + listas/base disponíveis\", \"output_dod\": \"Públicos estratégicos criados ou documentados com exceções\"}, {\"sequencia\": 24, \"nome\": \"Emitir naming convention e briefing de criativos\", \"tipo_etapa\": \"Documentação interna\", \"aguardando\": \"Cliente\", \"prazo_dias\": 9, \"inputs\": \"Estrutura estratégica definida\", \"output_dod\": \"Convenção de nomes aprovada e briefing criativo emitido com responsável e prazo\"}, {\"sequencia\": 25, \"nome\": \"Publicar primeira leva de campanhas\", \"tipo_etapa\": \"Entrega\", \"aguardando\": \"Cliente\", \"prazo_dias\": 10, \"inputs\": \"Públicos prontos + criativos aprovados + orçamento liberado\", \"output_dod\": \"Campanhas publicadas conforme ordem e checklist pré-publish\"}, {\"sequencia\": 26, \"nome\": \"Monitorar campanha intensivamente e registrar sinais iniciais\", \"tipo_etapa\": \"Documentação interna\", \"aguardando\": \"Nada\", \"prazo_dias\": 10, \"inputs\": \"Campanhas ativas\", \"output_dod\": \"Janela crítica de 3-7 dias acompanhada com intervenções registradas\"}, {\"sequencia\": 27, \"nome\": \"Comunicar resultados e emitir relatórios de onboarding\", \"tipo_etapa\": \"Marco de comunicação\", \"aguardando\": \"Nada\", \"prazo_dias\": 14, \"inputs\": \"Dados iniciais de campanha\", \"output_dod\": \"Cliente recebe atualizações a cada 3-4 dias e relatórios D+14 / D+21\"}, {\"sequencia\": 28, \"nome\": \"Avaliar primeiro valor e decidir transição\", \"tipo_etapa\": \"Entrega\", \"aguardando\": \"Nada\", \"prazo_dias\": 21, \"inputs\": \"Relatórios + marco de first value\", \"output_dod\": \"Resultado classificado como atingido, parcial ou não atingido com próximo passo definido\"}, {\"sequencia\": 29, \"nome\": \"Disparar CSAT e NPS\", \"tipo_etapa\": \"Marco de comunicação\", \"aguardando\": \"Cliente\", \"prazo_dias\": 21, \"inputs\": \"Encerramento do onboarding decidido\", \"output_dod\": \"Formulários enviados ao contato principal do cliente\"}, {\"sequencia\": 30, \"nome\": \"Finalizar handoff documental para ongoing\", \"tipo_etapa\": \"Documentação interna\", \"aguardando\": \"Nada\", \"prazo_dias\": 21, \"inputs\": \"Estado final das campanhas, públicos e hipóteses\", \"output_dod\": \"Documento de handoff pronto para operação contínua\"}, {\"sequencia\": 31, \"nome\": \"Encerrar página do onboarding no PHI e vincular aprendizados/ADRs\", \"tipo_etapa\": \"Documentação interna\", \"aguardando\": \"Nada\", \"prazo_dias\": 21, \"inputs\": \"Handoff concluído + retrospectiva\", \"output_dod\": \"Status do onboarding concluído, data da 1ª entrega preenchida e vínculos criados\"}];\nreturn [{ json: { etapas } }];",
          "notice": ""
        },
        "id": "b1360fa4-dd4a-4d4b-83af-58fdd01e68fe",
        "name": "[Onb A2.1] Ler Etapas A1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2640,
          272
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "return items;",
          "notice": ""
        },
        "id": "e2255f05-5b9f-4d0d-a19a-5d3850064c42",
        "name": "[Onb A2.1] Binario para JSON Etapas",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2880,
          272
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const cliente = $('[Onb A2.1] Criar Cliente').first().json;\nconst contexto = $('[Onb A2.1] Resolver Responsavel Geral').first().json;\nconst raw = $input.first().json;\nlet dataset = raw;\nif (typeof raw.data === 'string') {\n  dataset = JSON.parse(raw.data);\n} else if (typeof raw.json === 'string') {\n  dataset = JSON.parse(raw.json);\n}\nconst etapas = Array.isArray(dataset)\n  ? dataset\n  : Array.isArray(raw.etapas)\n    ? raw.etapas\n    : Array.isArray(dataset.etapas)\n      ? dataset.etapas\n      : null;\nif (!Array.isArray(etapas)) {\n  throw new Error('Arquivo etapas-a1.json invalido: esperado objeto com raw.etapas ou dataset.etapas');\n}\n// Contrato v1: data_inicio e date-only sem timezone; somamos dias em UTC para evitar drift de fuso.\nconst addDays = (isoDate, days) => {\n  const dt = new Date(`${isoDate}T00:00:00.000Z`);\n  dt.setUTCDate(dt.getUTCDate() + Number(days || 0));\n  return dt.toISOString().slice(0, 10);\n};\nreturn etapas.map((etapa) => ({\n  json: {\n    cliente_page_id: cliente.id,\n    cliente_nome: contexto.cliente_nome,\n    data_inicio: contexto.data_inicio,\n    etapa_nome: etapa.nome,\n    sequencia: etapa.sequencia,\n    tipo_etapa: etapa.tipo_etapa,\n    aguardando: etapa.aguardando,\n    prazo_dias: etapa.prazo_dias,\n    inputs: etapa.inputs,\n    output_dod: etapa.output_dod,\n    data_prevista: addDays(contexto.data_inicio, etapa.prazo_dias),\n    etapas_esperadas: etapas.length,\n    raw_payload: contexto.raw_payload\n  }\n}));",
          "notice": ""
        },
        "id": "f8f55b9c-fd93-4f1f-9d2e-f884d63ab2b9",
        "name": "[Onb A2.1] Montar Itens Etapas",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3120,
          272
        ]
      },
      {
        "parameters": {
          "authentication": "apiKey",
          "notionNotice": "",
          "Credentials": "",
          "resource": "databasePage",
          "operation": "create",
          "databaseId": {
            "__rl": true,
            "mode": "list",
            "value": "6eb4565b4f1d498c8b2978e0c80880fd"
          },
          "title": "={{ $json.etapa_nome }}",
          "simple": false,
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "Sequência|number",
                "type": "={{$parameter[\"&key\"].split(\"|\")[1]}}",
                "title": "",
                "richText": false,
                "textContent": "",
                "text": {},
                "phoneValue": "",
                "multiSelectValue": [],
                "selectValue": "",
                "statusValue": "",
                "emailValue": "",
                "ignoreIfEmpty": false,
                "urlValue": "",
                "peopleValue": [],
                "relationValue": [],
                "checkboxValue": false,
                "numberValue": "={{ $json.sequencia }}",
                "range": false,
                "includeTime": true,
                "date": "",
                "timezone": "default",
                "fileUrls": {}
              },
              {
                "key": "Tipo de etapa|select",
                "type": "={{$parameter[\"&key\"].split(\"|\")[1]}}",
                "title": "",
                "richText": false,
                "textContent": "",
                "text": {},
                "phoneValue": "",
                "multiSelectValue": [],
                "selectValue": "={{ $json.tipo_etapa }}",
                "statusValue": "",
                "emailValue": "",
                "ignoreIfEmpty": false,
                "urlValue": "",
                "peopleValue": [],
                "relationValue": [],
                "checkboxValue": false,
                "numberValue": 0,
                "range": false,
                "includeTime": true,
                "date": "",
                "timezone": "default",
                "fileUrls": {}
              },
              {
                "key": "Aguardando|select",
                "type": "={{$parameter[\"&key\"].split(\"|\")[1]}}",
                "title": "",
                "richText": false,
                "textContent": "",
                "text": {},
                "phoneValue": "",
                "multiSelectValue": [],
                "selectValue": "={{ $json.aguardando }}",
                "statusValue": "",
                "emailValue": "",
                "ignoreIfEmpty": false,
                "urlValue": "",
                "peopleValue": [],
                "relationValue": [],
                "checkboxValue": false,
                "numberValue": 0,
                "range": false,
                "includeTime": true,
                "date": "",
                "timezone": "default",
                "fileUrls": {}
              },
              {
                "key": "Prazo (dias após D=0)|number",
                "type": "={{$parameter[\"&key\"].split(\"|\")[1]}}",
                "title": "",
                "richText": false,
                "textContent": "",
                "text": {},
                "phoneValue": "",
                "multiSelectValue": [],
                "selectValue": "",
                "statusValue": "",
                "emailValue": "",
                "ignoreIfEmpty": false,
                "urlValue": "",
                "peopleValue": [],
                "relationValue": [],
                "checkboxValue": false,
                "numberValue": "={{ $json.prazo_dias }}",
                "range": false,
                "includeTime": true,
                "date": "",
                "timezone": "default",
                "fileUrls": {}
              },
              {
                "key": "Inputs necessários|rich_text",
                "type": "={{$parameter[\"&key\"].split(\"|\")[1]}}",
                "title": "",
                "richText": false,
                "textContent": "={{ $json.inputs }}",
                "text": {},
                "phoneValue": "",
                "multiSelectValue": [],
                "selectValue": "",
                "statusValue": "",
                "emailValue": "",
                "ignoreIfEmpty": false,
                "urlValue": "",
                "peopleValue": [],
                "relationValue": [],
                "checkboxValue": false,
                "numberValue": 0,
                "range": false,
                "includeTime": true,
                "date": "",
                "timezone": "default",
                "fileUrls": {}
              },
              {
                "key": "Output esperado (DoD - Definition of Done)|rich_text",
                "type": "={{$parameter[\"&key\"].split(\"|\")[1]}}",
                "title": "",
                "richText": false,
                "textContent": "={{ $json.output_dod }}",
                "text": {},
                "phoneValue": "",
                "multiSelectValue": [],
                "selectValue": "",
                "statusValue": "",
                "emailValue": "",
                "ignoreIfEmpty": false,
                "urlValue": "",
                "peopleValue": [],
                "relationValue": [],
                "checkboxValue": false,
                "numberValue": 0,
                "range": false,
                "includeTime": true,
                "date": "",
                "timezone": "default",
                "fileUrls": {}
              },
              {
                "key": "Status|select",
                "type": "={{$parameter[\"&key\"].split(\"|\")[1]}}",
                "title": "",
                "richText": false,
                "textContent": "",
                "text": {},
                "phoneValue": "",
                "multiSelectValue": [],
                "selectValue": "Pendente",
                "statusValue": "",
                "emailValue": "",
                "ignoreIfEmpty": false,
                "urlValue": "",
                "peopleValue": [],
                "relationValue": [],
                "checkboxValue": false,
                "numberValue": 0,
                "range": false,
                "includeTime": true,
                "date": "",
                "timezone": "default",
                "fileUrls": {}
              },
              {
                "key": "Cliente|relation",
                "type": "={{$parameter[\"&key\"].split(\"|\")[1]}}",
                "title": "",
                "richText": false,
                "textContent": "",
                "text": {},
                "phoneValue": "",
                "multiSelectValue": [],
                "selectValue": "",
                "statusValue": "",
                "emailValue": "",
                "ignoreIfEmpty": false,
                "urlValue": "",
                "peopleValue": [],
                "relationValue": [],
                "checkboxValue": false,
                "numberValue": 0,
                "range": false,
                "includeTime": true,
                "date": "",
                "timezone": "default",
                "fileUrls": {}
              },
              {
                "key": "Data prevista|date",
                "type": "={{$parameter[\"&key\"].split(\"|\")[1]}}",
                "title": "",
                "richText": false,
                "textContent": "",
                "text": {},
                "phoneValue": "",
                "multiSelectValue": [],
                "selectValue": "",
                "statusValue": "",
                "emailValue": "",
                "ignoreIfEmpty": false,
                "urlValue": "",
                "peopleValue": [],
                "relationValue": [],
                "checkboxValue": false,
                "numberValue": 0,
                "range": false,
                "includeTime": true,
                "date": "={{ $json.data_prevista }}",
                "timezone": "default",
                "fileUrls": {}
              }
            ]
          },
          "blockUi": {},
          "options": {}
        },
        "id": "2e7b4283-13d1-4ab7-8f28-907451ce5f70",
        "name": "[Onb A2.1] Criar Etapa",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          3360,
          272
        ],
        "continueOnFail": true,
        "credentials": {
          "notionApi": {
            "id": "<credential_id_redacted>",
            "name": "Notion account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const items = $input.all();\nconst contexto = $('[Onb A2.1] Resolver Responsavel Geral').first().json;\nconst cliente = $('[Onb A2.1] Criar Cliente').first().json;\nconst sucesso = [];\nconst falhas = [];\nfor (const item of items) {\n  const payload = item.json || {};\n  const hasError = Boolean(payload.error || payload.message || payload.stack);\n  if (hasError && !payload.id) {\n    falhas.push(payload.error?.message || payload.message || payload.description || JSON.stringify(payload));\n  } else {\n    sucesso.push(payload.id || payload);\n  }\n}\nreturn [{ json: {\n  cliente_page_id: cliente.id,\n  cliente_nome: contexto.cliente_nome,\n  cnpj_normalizado: contexto.cnpj_normalizado,\n  raw_payload: contexto.raw_payload,\n  etapas_esperadas: items[0]?.json?.etapas_esperadas ?? items.length,\n  etapas_criadas: sucesso.length,\n  etapas_falhas: falhas.length,\n  falha_resumo: falhas.slice(0, 5).join(' | '),\n  workflow_status: sucesso.length === (items[0]?.json?.etapas_esperadas ?? items.length) ? 'ok' : 'partial_failure'\n} }];",
          "notice": ""
        },
        "id": "f3c8f76f-d041-454f-ac25-4eaf005cd5c0",
        "name": "[Onb A2.1] Consolidar Resultado",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3600,
          272
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ $json.etapas_criadas < $json.etapas_esperadas }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": false,
          "options": {}
        },
        "id": "8b8fca07-1d71-4d5a-8821-62a912fe7f08",
        "name": "[Onb A2.1] Falha Parcial Etapas?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3840,
          272
        ]
      },
      {
        "parameters": {
          "authentication": "apiKey",
          "notionNotice": "",
          "Credentials": "",
          "resource": "databasePage",
          "operation": "update",
          "pageId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.cliente_page_id }}"
          },
          "simple": false,
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "Status|select",
                "type": "={{$parameter[\"&key\"].split(\"|\")[1]}}",
                "title": "",
                "richText": false,
                "textContent": "",
                "text": {},
                "phoneValue": "",
                "multiSelectValue": [],
                "selectValue": "Bloqueado",
                "statusValue": "",
                "emailValue": "",
                "ignoreIfEmpty": false,
                "urlValue": "",
                "peopleValue": [],
                "relationValue": [],
                "checkboxValue": false,
                "numberValue": 0,
                "range": false,
                "includeTime": true,
                "date": "",
                "timezone": "default",
                "fileUrls": {}
              },
              {
                "key": "Bloqueios ativos|rich_text",
                "type": "={{$parameter[\"&key\"].split(\"|\")[1]}}",
                "title": "",
                "richText": false,
                "textContent": "={{ 'Etapas criadas: ' + $json.etapas_criadas + '/' + $json.etapas_esperadas + '. ' + $json.falha_resumo + ' | Status=\"Bloqueado\"' }}",
                "text": {},
                "phoneValue": "",
                "multiSelectValue": [],
                "selectValue": "",
                "statusValue": "",
                "emailValue": "",
                "ignoreIfEmpty": false,
                "urlValue": "",
                "peopleValue": [],
                "relationValue": [],
                "checkboxValue": false,
                "numberValue": 0,
                "range": false,
                "includeTime": true,
                "date": "",
                "timezone": "default",
                "fileUrls": {}
              }
            ]
          },
          "options": {}
        },
        "id": "37b80ab8-aa4c-43c0-bab5-9c524bab6e6b",
        "name": "[Onb A2.1] Atualizar Cliente Bloqueado",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          4080,
          176
        ],
        "credentials": {
          "notionApi": {
            "id": "<credential_id_redacted>",
            "name": "Notion account"
          }
        }
      },
      {
        "parameters": {
          "curlImport": "",
          "method": "POST",
          "url": "https://n8n-evolution.1unqx7.easypanel.host/message/sendText/Whats%20Business",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ { number: '5511888880001', text: '[Onb A2.1] Falha parcial na criacao de etapas\\ncliente=' + $json.cliente_nome + '\\ncnpj=' + $json.cnpj_normalizado + '\\nresultado=' + $json.etapas_criadas + '/' + $json.etapas_esperadas + '\\nerro=' + $json.falha_resumo + '\\npayload=' + JSON.stringify($json.raw_payload) } }}",
          "options": {},
          "infoMessage": ""
        },
        "id": "3f55d70e-aa60-465d-8e6e-ab3d9b95af46",
        "name": "[Onb A2.1] Notificar Falha Etapas Olavo",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "continueOnFail": true,
        "position": [
          4320,
          176
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "<credential_id_redacted>",
            "name": "Evolution API Header Auth"
          }
        }
      },
      {
        "parameters": {
          "generalNotice": "",
          "respondWith": "json",
          "webhookNotice": "",
          "responseBody": "={{ { ok: true, workflow: 'Onb - Briefing to Client', cliente_page_id: $json.cliente_page_id, etapas_criadas: $json.etapas_criadas, etapas_esperadas: $json.etapas_esperadas, workflow_status: $json.workflow_status } }}",
          "options": {
            "responseCode": 201
          }
        },
        "id": "995b8740-1854-4c15-90f8-b500f5886db0",
        "name": "[Onb A2.1] Responder 201",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.3,
        "position": [
          4560,
          272
        ]
      }
    ],
    "connections": {
      "[Onb A2.1] Webhook Briefing": {
        "main": [
          [
            {
              "node": "[Onb A2.1] Validar Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "[Onb A2.1] Validar Payload": {
        "main": [
          [
            {
              "node": "[Onb A2.1] Payload Valido?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "[Onb A2.1] Payload Valido?": {
        "main": [
          [
            {
              "node": "[Onb A2.1] Normalizar Contexto",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "[Onb A2.1] Responder 400",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "[Onb A2.1] Normalizar Contexto": {
        "main": [
          [
            {
              "node": "[Onb A2.1] Buscar Clientes Ativos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "[Onb A2.1] Buscar Clientes Ativos": {
        "main": [
          [
            {
              "node": "[Onb A2.1] Detectar Duplicidade",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "[Onb A2.1] Detectar Duplicidade": {
        "main": [
          [
            {
              "node": "[Onb A2.1] Duplicado?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "[Onb A2.1] Duplicado?": {
        "main": [
          [
            {
              "node": "[Onb A2.1] Notificar Duplicidade Olavo",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "[Onb A2.1] Buscar Usuarios Workspace",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "[Onb A2.1] Notificar Duplicidade Olavo": {
        "main": [
          [
            {
              "node": "[Onb A2.1] Responder 409",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "[Onb A2.1] Buscar Usuarios Workspace": {
        "main": [
          [
            {
              "node": "[Onb A2.1] Resolver Responsavel Geral",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "[Onb A2.1] Resolver Responsavel Geral": {
        "main": [
          [
            {
              "node": "[Onb A2.1] Criar Cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "[Onb A2.1] Criar Cliente": {
        "main": [
          [
            {
              "node": "[Onb A2.1] Ler Etapas A1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "[Onb A2.1] Ler Etapas A1": {
        "main": [
          [
            {
              "node": "[Onb A2.1] Binario para JSON Etapas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "[Onb A2.1] Binario para JSON Etapas": {
        "main": [
          [
            {
              "node": "[Onb A2.1] Montar Itens Etapas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "[Onb A2.1] Montar Itens Etapas": {
        "main": [
          [
            {
              "node": "[Onb A2.1] Criar Etapa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "[Onb A2.1] Criar Etapa": {
        "main": [
          [
            {
              "node": "[Onb A2.1] Consolidar Resultado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "[Onb A2.1] Consolidar Resultado": {
        "main": [
          [
            {
              "node": "[Onb A2.1] Falha Parcial Etapas?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "[Onb A2.1] Falha Parcial Etapas?": {
        "main": [
          [
            {
              "node": "[Onb A2.1] Atualizar Cliente Bloqueado",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "[Onb A2.1] Responder 201",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "[Onb A2.1] Atualizar Cliente Bloqueado": {
        "main": [
          [
            {
              "node": "[Onb A2.1] Notificar Falha Etapas Olavo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "[Onb A2.1] Notificar Falha Etapas Olavo": {
        "main": [
          [
            {
              "node": "[Onb A2.1] Responder 201",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "timezone": "America/Sao_Paulo"
    }
  },
  "workflowVersionId": "76c07a4c-afcd-4169-852d-b6a8e38e3aa8",
  "customData": {}
}
